[2015-02-11 17:31] pixelzoom opened #1 "set up the simulation skeleton"

[2015-02-11 21:59] pixelzoom commented on #1
Done, with Jake.

[2015-02-11 21:59] #1 closed

[2015-04-23 19:35] samreid opened #2 "Add an entry for the scale text English string"
To get the sim to run after recent changes to internationalization, I had to add this line to the english string file:

[code]

Wasn't sure exactly what that text should be.

[2015-04-23 19:36] samreid commented on #2
I added the above text as placeholder text, so the sim will still launch.  However, @thejakey should add the appropriate text into the file.

[2015-04-23 19:39] thejakey commented on #2
In the Java format, the string is a template and the units are inserted from a numerical value. JavaScript doesn't have string building facilities (yet), but the behavior can be mimicked with *string.replace()* and the like. I will fix this soon, using the aforementioned workaround, unless I am told to do it otherwise.

[2015-04-23 19:40] thejakey commented on #2
By yet, I mean ecmascript 6 does.

[2015-04-23 19:54] samreid commented on #2
OK perfect, thanks!

[2015-04-23 20:53] thejakey commented on #2
Fixes are in, not sure why the way strings are dealt with changed (from `stringfile.json` to `strings/stringfile.json`) but it does make more sense this way and I have updated how the project gets strings.

[2015-04-28 16:26] pixelzoom opened #3 "rutherford-scattering fails lint"
To reproduce, run "grunt lint".

[2015-04-28 16:49] pixelzoom opened #4 "rutherford-scattering fails to build"
[code]

[2015-04-28 20:35] pixelzoom commented on #3
Looks like this is fixed. Closing.

[2015-04-28 20:35] #3 closed

[2015-04-28 20:46] pixelzoom commented on #4
Working, I must have had a stale copy.

[2015-04-28 20:46] #4 closed

[2015-05-15 20:15] samreid opened #5 "rutherford-scattering is the wrong license, should be GPL but it is LGPL"
Discovered in https://github.com/phetsims/joist/issues/124.

Assigned to @pixelzoom since he created the license file.

[2015-05-15 20:40] #5 closed

[2015-05-15 22:45] pixelzoom opened #6 "rutherford-scattering still has a strings/ directory"
Looks like this got missed when @jonathanolson moved English strings to the top level directory. It does have rutherford-scattering-strings_en.json at the top level. But it also has that same file in strings/, which should have been deleted.

[2015-05-15 22:47] pixelzoom opened #7 "sim fails at startup"
Difficult to test #6 because this sim doesn't run. In developer mode, it fails at startup with this error:

[2015-05-15 22:57] #6 closed

[2015-06-10 20:40] jonathanolson commented on #7
Still occurring in automated testing.

[2015-08-18 02:19] pixelzoom opened #8 "unused images"
[code]

[2015-08-25 17:15] pixelzoom opened #9 "rutherford-scattering has invalid aspect ratio for screen icons"
[code]

[2015-08-25 17:16] pixelzoom commented on #9
I'll take care of this so I don't have to see it in test-server output.

[2015-08-25 17:35] pixelzoom opened #10 "incorrect use of string plugin"
I see this anti-pattern throughout the code (e.g. AlphaParticlePanel):

[code]

There is no need to do `.value`.

[2015-08-25 17:39] pixelzoom commented on #10
Fixed. Closing.

[2015-08-25 17:39] #10 closed

[2015-08-25 17:39] pixelzoom commented on #9
Fixed. Closing.

[2015-08-25 17:39] #9 closed

[2015-08-25 17:41] pixelzoom opened #11 "rutherford-scattering fails assertion on startup"
In requirejs mode with assertions enabled, here's the stack trace:

Uncaught Error: Assertion failed: undefinedwindow.assertions.assertFunction @ assert.js:22extend.setVisible @ Node.js?bust=1440524428290:2294(anonymous function) @ ToggleNode.js?bust=1440524428290:44inherit.link @ Property.js?bust=1440524428290:166ToggleNode @ ToggleNode.js?bust=1440524428290:43BooleanRoundToggleButton @ BooleanRo

[2015-08-25 22:09] pixelzoom opened #12 "use StringUtils.format for filling in parameterized strings"
Here's the anti-pattern in question:

You have this string in rutherford-scattering-strings_en.json, where '?' is a placeholder that you want to fill in:

[code]

Then you want to replace the '?' with a value in RutherfordAtomView:

[code]

That works if you only have one parameter to fill in. But it's not a good general solution.

The preferred pattern is as follows:

Use Java's MessageFormat pat

[2015-08-25 22:13] pixelzoom commented on #12
Here's a general example, which you could type into the browser console.

[code]

[2015-09-03 06:21] jakies commented on #7
Went ahead and commented it out in https://github.com/phetsims/rutherford-scattering/commit/a034b9e4ee24cb89d05fecb183ba682d46b24256 real quick. Should prevent the error while I convert over to the new standard for template screens

[2015-09-03 06:22] jakies commented on #11
Having a hard time finding this intuitively, hopefully it goes away as I start updating the project.

[2015-09-16 21:47] pixelzoom opened #13 "rutherford-scattering fails lint"
The most recent version of master at the time of this writing (8f1eaf442e88be1cf548621868323825b533f7e4) fails lint.

[code]

[2015-09-17 07:59] jakies commented on #13
Fully lint-free with 8e9dd5cc42ba69b65324fde817ac11ab1c1037e4

(I'm not used to semicolons after `var foo = {};` declarations)

[2015-09-17 07:59] #13 closed

[2015-10-09 23:34] jonathanolson opened #14 "Automated testing error"
Looks like passing the literal number 1 wrapped in a property as a boolean property to PlayPauseButton (see AnimationControlView).

[code]

[2015-11-16 06:35] pixelzoom commented on #14
Still a problem.

[2015-11-19 06:05] jonathanolson commented on #11
I thought I'd take a shot at this (~10min?) since it's regularly showing up on automated testing, and I've found at least 4 places where number Properties are being used for booleans.

I'd solve that, but there's energyProperty:
[code]

It's used both as a numeric value (for HSlider) and as a boolean value (for the Show Traces checkbox). I really don't know WHEN it should be a boolean, so I'm bail

[2015-11-19 07:17] jakies commented on #11
It shouldn't be used as either, it's a dummy I had used as I was exploring
the functionalities of the HSlider module. You can delete that line and
null anything that references it
On Nov 18, 2015 11:05 PM, "Jonathan Olson" <notifications@github.com> wrote:

[2015-11-19 19:35] #7 closed

[2015-11-19 19:36] pixelzoom commented on #11
rutherford-scattering removed from active-runnables. Closing.

[2015-11-19 19:36] #11 closed

[2015-11-19 19:36] pixelzoom commented on #7
rutherford-scattering removed from active-runnables. Closing.

[2015-11-19 19:36] pixelzoom commented on #14
rutherford-scattering removed from active-runnables. Closing.

[2015-11-19 19:36] #14 closed

[2016-01-29 19:09] ariel-phet opened #15 "Rutherford Scattering master checklist"
## Design
- [x] **Design doc created** (Date: 02/15/2015)
  - [x] Make phethelp@gmail.com owner, share with phet-team
  - [x] Add to [Master Doc List](https://docs.google.com/document/d/1yjT1oE95JG_evwob9LB_De-brD7JpfFM6iIL6pF812k/edit#)
- [x] **Legacy sim docs/info gathered**
- [x] **Learning goals and standards identified** (Date:02/18/2015)
- [x] **Design concept complete**  (Date: 02/04/2016)

[2016-02-01 23:46] ariel-phet opened #16 "Address model inconsistency in Teacher Tips"
From https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3606

Since this is called the "plum pudding" screen, we should probably address this valid point in the teacher tips

[2016-02-01 23:49] ariel-phet opened #17 "Consider "macro" view?"
User suggestion from unfuddle https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3495

@amyh-phet can you look at this and comment if you think this would be something we should consider adding?

[2016-02-01 23:52] ariel-phet commented on #17
and from https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3670

[2016-02-01 23:54] ariel-phet commented on #17
I am sensing a theme here...

From https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3680

[2016-02-01 23:58] amyh-phet commented on #17
Yes - definitely a theme of chemistry is to have students understand both the macroscopic and submicroscopic views of matter.   I agree that adding this feature to the sim would make the sim a more useful tool to help students understand Rutherford's discovery that most of the atom is empty space.  If possible to incorporate this, I think we should.

[2016-02-02 00:00] ariel-phet commented on #17
Well then @amyh-phet guess who should work on a super sweet mockup? :smile:

This would be fairly high priority to mockup since this sim is about to get worked on...

[2016-02-02 00:02] amyh-phet commented on #17
Sounds good.  Thoughts on when the sim might be up for design meeting?

[2016-02-02 00:02] ariel-phet commented on #17
It could be this week if we want...but next week at the latest if we are considering this addition

[2016-02-02 00:04] amyh-phet commented on #17
Great! I'll be ready for this week if we have time on the schedule.  Would be good to discuss how best to implement this with the design team.

[2016-02-02 20:11] pixelzoom opened #18 "redesign: orbit of electron"
@ariel-phet asked me to create this issue after a Skype discussion.

The "Rutherford Atom" screen has a feature that's not very obvious. It shows an electron orbiting the atom.  Only a tiny piece of the orbit  is visible, and it's difficult to notice when the electron appears.  Here's a screenshot from the Java version, with a green arrow added to point to the electron (blue dot).  Consider a "zoo

[2016-02-22 17:32] samreid opened #19 "Use ObservableArray for Particles and added/removed events in AtomModel.js"
At the beginning of AtomModel's constructor, there are these declarations:

[code]

Then `addParticle` is declared like so:

[code]

A simpler alternative would be to use Axon for sending the events.

`AXON/ObservableArray` provides an array with built-in functions for sending notifications when items are added or removed.  This is probably the best approach for this case, but if there are other c

[2016-02-23 02:18] ariel-phet commented on #18
@amyh-phet can you include a mockup in this issue that shows the new version of this scene without the electron orbit?

[2016-02-23 02:19] ariel-phet commented on #17
Closing and making a new issue to cover the macro view implementation.

[2016-02-23 02:19] #17 closed

[2016-02-23 02:21] ariel-phet opened #20 "Macro view"
After discussion it was decided that we should have a macro view included in the sim, details are in the the design doc.

This work will be done after @schmitzware performs the port of the current sim, and likely by another developer. Opening this issue to document the enhancement.

[2016-02-23 02:23] ariel-phet commented on #12
I am guessing this is no longer an issue since Jake's work was removed, closing

[2016-02-23 02:23] #12 closed

[2016-02-23 02:24] ariel-phet commented on #2
I am guessing this is no longer an issue since Jake's work was removed, closing

[2016-02-23 02:24] #2 closed

[2016-02-23 02:24] ariel-phet commented on #8
I am guessing this is no longer an issue since Jake's work was removed, closing

[2016-02-23 02:24] #8 closed

[2016-02-23 02:29] ariel-phet opened #21 "Have electrons as part of plum pudding image?"
@schmitzware asked the following question:

This seems like a reasonable change to me since the electrons are static in this screen and merely representative.

Do you agree @amyh-phet and if so, can you provide @schmitzware with a new image?

[2016-02-23 02:37] ariel-phet opened #22 "Tweaks to "gun" to make it not feel like a laser"
@amyh-phet we had discussed some tweaks to the alpha particle gun to make it look less like a "laser"

I suggest the following:

- change the body color to something funky like green or such
- change the button color, the red used is very much the archetypal laser pointer red, maybe blue or such
- it looks like the body length can be changed, and I think the squat body is good, but if the width ca

[2016-02-23 15:30] amyh-phet commented on #21
@schmitzware  @ariel-phet   I think this is a very reasonable change as the electrons don't interact with the alpha particles in this screen.   Will send an image to @schmitzware that includes electrons for plum pudding model.

[2016-02-23 15:30] amyh-phet commented on #22
Will work on tweaks to this and will update design doc accordingly.

[2016-02-23 18:43] samreid opened #23 "Extra ; in AtomModel.js"
During code review, I noticed an extra `;` in AtomModel.js in the constructor:

[code]

[2016-02-25 01:28] samreid commented on #23
Thanks, looks good, closing.

[2016-02-25 01:28] #23 closed

[2016-02-25 01:44] samreid commented on #19
@schmitzware we often find it productive as a team to make a GitHub issue comment describing how/why a particular decision was made (in addition to the commit message).  In this case, the commit message says:

[code]

But it does not explain why the ObservableArray is no longer needed. From looking in the code, it seems like this is because you have switched from rendering the particles+paths as s

[2016-02-25 17:25] schmitzware commented on #19
Yes, at the time, the old implementation which included the ObservableArray, was using a scenery nodes  to render the particles. I was originally keeping track of these separately from corresponding the model using the ObservableArray. In the revised implementation, particles are rendered using the particle model positions and image in the CanvasNode. No need for nodes any more.

[2016-02-25 17:32] samreid commented on #19
Thanks @schmitzware, closing.

[2016-02-25 17:32] #19 closed

[2016-02-25 17:55] amyh-phet commented on #18
New mock up attached.  Note that changes to scene buttons (nucleus, atom) will likely change and mockups will be updated.

![rutherford_scattering_no_electron_02_25_16](https://cloud.githubusercontent.com/assets/13650180/13328854/45047f3e-dbae-11e5-9405-3c00931737b1.png)

[2016-02-25 19:08] ariel-phet commented on #18
@amyh-phet are there supposed to be dotted lines in the bottom right and left and corners?

[2016-02-25 19:28] amyh-phet commented on #18
I think these dotted lines should also be removed if we are adding the macro view scene to the sim.  The dotted lines in the original sim show the electron much closer to the nucleus than it actually is.  From reading notes from the original sim design, the orbiting electron was included to represent the idea that there were electrons in the atom, but the deflection of the alpha particles was due

[2016-02-25 19:30] ariel-phet commented on #18
OK, please remove the dotted lines, we are not going to publish the sim until the macro view is done (although probably not done by Dave).

[2016-02-25 19:41] amyh-phet commented on #18
Updated artwork included.
![rutherford_atom_no_electron_02_25_16](https://cloud.githubusercontent.com/assets/13650180/13331955/02e0dab2-dbbd-11e5-9e29-a63c7c816f78.png)

[2016-02-25 20:28] ariel-phet commented on #18
@schmitzware updated artwork above, (don't worry about the nucleus vs atom button you will not be implementing those)

[2016-03-01 19:04] samreid opened #24 "Buggy path with trace on"
I observed this on the iPad3 during performance testing, one particle took an odd trajectory and got stuck:

![image](https://cloud.githubusercontent.com/assets/679486/13438286/a19e5814-dfa5-11e5-9e0f-6b12ac4d0169.png)

[2016-03-01 19:12] samreid commented on #24
I reloaded the sim and ran tethered for 5 minutes and did not see the issue again, perhaps it is very rare!

[2016-03-01 19:52] schmitzware opened #25 "Target material zoom box perspective"
ChrisM had suggested the zoom box on the target material should have a similar perspective as the material itself.  For example:

![screen shot 2016-03-01 at 11 48 49 am](https://cloud.githubusercontent.com/assets/694045/13439791/f2a96eee-dfa3-11e5-8a87-1771da7b35f5.png)

![screen shot 2016-03-01 at 11 45 40 am](https://cloud.githubusercontent.com/assets/694045/13439800/fb244e7c-dfa3-11e5-8a0f-7e4

[2016-03-01 20:22] amyh-phet commented on #25
@schmitzware  I like adding the perspective to the zoom box on the target material.  I will adjust mockups to reflect this change.

[2016-03-01 20:33] schmitzware commented on #25
Perfect. Thanks!

[2016-03-01 20:33] #25 closed

[2016-03-01 20:36] schmitzware commented on #18
There is no orbiting electron or dotted path in the new HTML sim. Ok if I close this?

[2016-03-01 20:50] amyh-phet commented on #18
Close away!

[2016-03-01 20:50] #18 closed

[2016-03-02 00:22] schmitzware opened #26 "Location of "Reset" button"
So, right now I have the reset button at the bottom of the property panels - like so:
![screen shot 2016-03-01 at 3 51 17 pm](https://cloud.githubusercontent.com/assets/694045/13446599/ac32bc24-dfc9-11e5-83a7-17513628b135.png)

![screen shot 2016-03-01 at 3 51 24 pm](https://cloud.githubusercontent.com/assets/694045/13446603/b1dd4e78-dfc9-11e5-9b73-b11cb2fdfa9e.png)

Is this correct? Or should it

[2016-03-02 00:24] schmitzware opened #27 "Need icons for both screens"
![screen shot 2016-03-01 at 3 36 20 pm](https://cloud.githubusercontent.com/assets/694045/13446640/f4ce3ee0-dfc9-11e5-98e7-3c81def74606.png)

[2016-03-02 00:26] schmitzware opened #28 "Need new plum pudding image/asset"
Can I get those electrons baked into the new one also?  :)

![screen shot 2016-03-01 at 3 51 24 pm](https://cloud.githubusercontent.com/assets/694045/13446665/31ca8538-dfca-11e5-84db-c77d0375a16c.png)

[2016-03-02 00:27] schmitzware commented on #24
Hummm... I've left this running on my iPad2 all afternoon with no luck in duplicating it..  Any suggestions??

[2016-03-02 00:29] pixelzoom commented on #24
Add an assertion that checks for sudden trajectory change, and run it unattended overnight?

[2016-03-02 00:59] amyh-phet commented on #26
@schmitzware   The reset all button should be in the same location on both screens.    The button should be located in the lower right portion of the screen near the PhET menu bar.   I think the location looks good on the first screen shot (Rutherford Model) but needs to move down on the Plum Pudding model.
![reset_all_location](https://cloud.githubusercontent.com/assets/13650180/13447267/60cac200

[2016-03-02 01:00] amyh-phet commented on #27
@schmitzware    I'll be working to get these done over the next two days.   I would like to run them by the design team before sending you the artwork if that is okay.

[2016-03-02 01:02] amyh-phet commented on #28
@schmitzware     Absolutely.   As far as I know, there are no issues with baking the electrons into the pudding.    I'm hopefully running new artwork by design team on Thursday and then can provide you an asset for this screen.

[2016-03-02 01:32] schmitzware commented on #27
You bet! Thanks!

[2016-03-02 01:33] schmitzware commented on #26
Gotcha. Thanks!

[2016-03-02 01:33] #26 closed

[2016-03-02 01:34] schmitzware commented on #28
It's currently a PNG that I just load up.

[2016-03-02 17:14] samreid commented on #24
Other options: code review of RutherfordAtomModel.moveParticle to see if anything seems suspicious.

Also, if we cannot reproduce this bug then it seems OK to close this issue. (We can reopen if it crops up in subsequent testing).

[2016-03-02 17:14] samreid commented on #24
This doesn't address values between 0 and X0_MIN, how about testing `x<X0_MIN` instead?
[code]

[2016-03-02 17:17] samreid commented on #24
I don't know where the math came from, but how can we be certain all Math.sqrt args are non-negative?  And the divisors are non-zero?  Those seem like potential causes of odd trajectories.

[2016-03-02 18:42] schmitzware opened #29 "Old sim docs"
There's several documents in the old java simulation doc directory. I've moved these over to the new sim but wanted to check if this is correct.

rutherford-scattering.pdf - looks like slides for a presentation
trajectories.pdf - the math for the Rutherford  model
TipsForTeachers-RutherfordScattering.docx - teacher notes

[2016-03-02 18:46] pixelzoom commented on #29
rutherford-scattering.pdf is the design doc for the Java version. This is from back in the days when design docs were a bit more primitive and less standardized.

trajectories.pdf is probably worth keeping. It can be referenced in doc/model.txt.

I suspect that the tips for teachers lives elsewhere. Unless this is the copy that has been (and will be) edited/revised, it should be deleted.

[2016-03-02 18:46] pixelzoom commented on #29
rutherford-scattering.pdf is the design doc for the Java version. This is from back in the days when design docs were a bit more primitive and less standardized. I would delete it, since it doesn't match the HTML5 version.

trajectories.pdf is probably worth keeping. It can be referenced in doc/model.txt.

I suspect that the tips for teachers lives elsewhere. Unless this is the copy that has been

[2016-03-02 18:49] pixelzoom commented on #29
Btw... Back in the Java/Flash days, after we moved to Google Docs for design docs, we had a policy of checking a PDF of the design doc into SVN.  That typically led to the PDF getting stale. So I don't recommend doing that for HTML5 sims, unless there's a desire to make the design doc publicly available.

[2016-03-02 22:31] schmitzware commented on #24
The math all came from the java sim.  I can add calcs to intermediate values for all the sqrt/div can check those.

[2016-03-02 23:29] schmitzware commented on #24
I've still not been able to reproduce it. I've gona ahead and addressed both the X0_MIN & 0 sqrt/divisors suggestions in <67139e114bec7906bcedfc7431bc1284b4a03fb6>
Closing this for now, if it pops up in QA will revisit then.

[2016-03-02 23:32] samreid commented on #24
Sounds good, thanks @phetsims/schmitzware!

[2016-03-03 17:14] ariel-phet commented on #29
@schmitzware

definitely should not be in the github repo
- rutherford-scattering.pdf - looks like slides for a presentation
- TipsForTeachers-RutherfordScattering.docx - teacher notes

trajectory seems fine to put in the repo

[2016-03-03 17:25] schmitzware commented on #29
Thanks.  I'll keep the trajectory PDF and delete the others.

[2016-03-03 17:25] #29 closed

[2016-03-03 17:27] schmitzware opened #30 "Rutherford Scattering code-review checklist"
PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim pass lint?
- [x] Does the sim build without errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')

**Strings**
- [x] Are there

[2016-03-03 17:28] pixelzoom commented on #24
I suppose the algorithm for trajectories is specified in doc/trajectories.pdf.  Compare the (ported) implementation to the specification, in case there was a bug in the Java implementation.

[2016-03-03 17:32] pixelzoom commented on #24
Reopening.

The algorithm for trajectories is specified in doc/trajectories.pdf.  Recommended to compare the (ported) implementation to the specification, in case there was a bug in the Java implementation.

Or if you want to stick with the plan of reopening if it pops up in QA, that would be ok too.

[2016-03-03 17:35] pixelzoom commented on #24
@schmitzware I noticed that in master, the default values for number of Protons and Electrons are now 79 and 118 respectively, which corresponds to the values in the screenshot shown in https://github.com/phetsims/rutherford-scattering/issues/24#issue-137657847. I don't believe these are the correct default values.  Did you inadvertently push values that were being used for testing this issue?

[2016-03-03 17:38] pixelzoom commented on #24
Mea culpa. Those are the default values in the Java implementation.

[2016-03-03 18:06] pixelzoom opened #31 "margin on arrow buttons"
@ariel-phet requested that the arrow buttons (aka "tweakers") should have margins that look more like hookes-law.

It looks like you just need to use the defaults. Remove these lines in AtomPropertiesPanel and you'll be good to go:

[code]

[2016-03-03 18:10] pixelzoom opened #32 "remove tabs from credits"
In rutherford-scattering-main.js:

[code]

Credits are rendered using scenery-phet.MultiLineText, which only handles newline (\n).   So the tabs (\t) should be removed. You can also remove the spaces preceding the newlines.

So you'll have:

[code]

[2016-03-03 18:11] schmitzware commented on #24
The design doc has "default: 79 protons and 118 neutrons (gold)"

--
Dave Schmitz
Schmitzware, LLC.

On Thursday, March 3, 2016 at 9:35 AM, Chris Malley wrote:

[2016-03-03 18:14] pixelzoom opened #33 "representation of atom while editing"
When changing the number of Protons or Neutrons, the atom changes to a circle, whose radius changes.  In the Java version, the circle was dashed and white; in HTML5 version it's a solid and orangish.  Was this a change request?

[2016-03-03 18:32] pixelzoom commented on #30
Put on my plate at 3/3/16 dev meeting. @schmitzware assign to me when ready for review.

[2016-03-04 00:36] schmitzware commented on #33
fixed in 9b7b76b3906e7f625d12566c7da2a16de2593d51

[2016-03-04 00:36] schmitzware commented on #32
fixed in 9b7b76b3906e7f625d12566c7da2a16de2593d51

[2016-03-04 00:37] schmitzware commented on #31
Thanks for that..
Fixed in 9b7b76b3906e7f625d12566c7da2a16de2593d51

[2016-03-04 00:42] schmitzware commented on #24
I'd like to stick with the QA path. We saw it once so far. I haven't been able to reproduce it running it overnight. I've added catches for all -sqrt calls and / by 0s which, as Sam mentioned, are good possibilities for that behavior. If it pops up again I'm happy to dig deeper.

[2016-03-04 00:42] #24 closed

[2016-03-04 00:44] schmitzware commented on #30
I just need get IntellJ setup with the formatting bits so I can run it through there. Should be ready after that.

[2016-03-04 18:35] pixelzoom commented on #31
:+1: Closing.

[2016-03-04 18:35] #31 closed

[2016-03-04 19:07] pixelzoom commented on #33
Looks good. I'd recommend one deviation from the Java version. Change OUTLINE_STROKE_COLOR to 'white' (Java used 'gray').  It will "pop" more, and will be clearly visible on projectors (a significant issue in the classroom).

[2016-03-04 21:48] schmitzware commented on #33
Fixed in eab268222d5210d2c3c64cfea2b6b7fd196021fe

[2016-03-04 21:49] schmitzware commented on #33
Sorry I should have done that as it's own commit..

[2016-03-04 21:57] schmitzware commented on #30
So, just so you know - I broke up the Rutherford/Atom screens a bit more but not overly so. I ended up consolidating the gun, target & dashed zoomed line in to it's own node and re-layed out things.  I didn't see the need to abstract out further seeing that it's ~125 lines of code, mainly layout, and it looks like things will change (space, legend, etc.) with the addition of that new bits in the d

[2016-03-04 22:29] pixelzoom commented on #33
:+1: Closing.

[2016-03-04 22:29] #33 closed

[2016-03-04 22:31] pixelzoom commented on #32
I additionally removed unnecessary spaces. Closing.

[2016-03-04 22:31] #32 closed

[2016-03-04 22:37] pixelzoom opened #34 "control panels clipped with stringTest=long"
Related to #30 (code review).

With `?dev?stringTest=long`, the right edge of the control panels is not visible.  Screenshot:

![screenshot_17](https://cloud.githubusercontent.com/assets/3046552/13542293/e4da751a-e21e-11e5-8456-cbc7dc4baf03.png)

[2016-03-04 22:42] pixelzoom opened #35 "missing implementation-notes.md"
Related to #30 (code review).

This file is currently empty.  It's typically ported from (newer) Java sims, but this sim was old enough not to have this file.  Look at some other examples, then let's talk about what should be done.

[2016-03-04 22:43] pixelzoom opened #36 "missing model.md"
Related to #30 (code review).

This file is currently empty.  It's typically ported from (newer) Java sims, but this sim was old enough not to have this file.  Look at some other examples, then let's talk about what should be done.

[2016-03-04 22:45] pixelzoom commented on #27
Make sure that @amyh-phet provides the Illustrator file, and that it gets checked in to assets/.

[2016-03-04 22:45] pixelzoom commented on #28
Make sure that @amyh-phet provides the Illustrator file, and that it gets checked in to assets/.

[2016-03-04 22:45] pixelzoom commented on #21
Make sure that @amyh-phet provides the Illustrator file, and that it gets checked in to assets/.

[2016-03-04 22:52] pixelzoom opened #37 "loose ends for image files"
I'm doing code review (#30) before images have been finalized (#21,#27,#28), so I'm going to skip these checklist items:

Loose ends:

(1) Use .png for all image files.

(2) Put files used to create the images (typically .ai, Adobe Illustrator files) in assets/. Ideally there is one .ai file for each .png file. But in some situations (like the screen icons) there may be one .ai file that contains

[2016-03-04 22:58] amyh-phet commented on #37
@pixelzoom @schmitzware Working on assets for Rutherford scattering.  Hopefully have them early next week.  Sorry for the delay.

[2016-03-04 22:59] pixelzoom opened #38 "README.md is (prematurely) for published sim"
Related to #30 (code review).

The README.md is currently using the format for a published sim (generated by `grunt published-README`).  FYI, until a sim is actually published to the PhET website, the README.md should use the format for an unpublished sim (generated by `grunt unpublished-README`).  No need to change since this sims is so close to publishing, just acknowledge by closing this issue.

[2016-03-04 23:13] pixelzoom opened #39 "code formatting problem"
Looks like there's a general problem with formatting.

In every source file, there's an extra space after the token `function`, e.g.:
`define( function ( require ) {`

The correct formatting is no space after `function`, e.g.:
`define( function( require ) {`

I worked with @schmitzware to set up IntelliJ IDEA to use the PhET codestyle (i.e., phet-idea-codestyle.iml), so I know that the source file

[2016-03-04 23:16] pixelzoom commented on #39
The relevant entry in phet-idea-codestyle.iml is probably:

```<option name="SPACE_BEFORE_FUNCTION_LEFT_PARENTH" value="false" />```

This looks suspicious, since `PARENTHESES` is spelled out in other options.

[2016-03-04 23:40] schmitzware commented on #39
Hummm.. I don't even see a 'SPACE_BEFORE_FUNCTION_LEFT_<ANYTHING>' in the XML file I have here.. I took it from phet-info/ide

[2016-03-04 23:49] pixelzoom opened #40 "missing visibility annotations in GunModel"
Related to #30 (code review).

Missing visibility annotations for these fields in GunModel:

[code]

[2016-03-05 00:00] pixelzoom opened #41 "unused options in RutherfordAtomNode"
Related to #30 (code review);

The `options` parameter in RutherfordAtomNode's constructor is not used. Here's the first bit of the constructor:

[code]

I think what you want to do is:

[code]

[2016-03-05 00:14] pixelzoom opened #42 "move updateAtomNode to prototype in RutherfordAtomNode"
Related to #30 (code review).

RutherfordAtomNode defines `updateAtomNode` in the constructor. This means that every instance of RutherfordAtomNode will have a copy of this function.  That's not a big deal here, since there's only one instance of RutherfordAtomNode.  But as a general practice, it's better to define functions like this in the prototype.  So recommend to move this to the prototype,

[2016-03-05 00:15] pixelzoom opened #43 "misc minor changes"
Related to #30 (code review).

This issue will document a few minor changes that are more cost-effective for me to make as I'm reviewing.

[2016-03-05 00:27] schmitzware commented on #36
.txt or .md? looks like there's a mix of both throughout the repo.

[2016-03-05 00:29] pixelzoom commented on #43
Misc minor changes were made in the above commit. I'll describe them here, let me know if any need further clarification. You can simply close this issue after you've reviewed.

(1) Added/removed a few blank lines. Review the commit, you'll see where. Some admittedly stylistic, some in odd places (eg, in the middle of a multi-line comment).

(2) Spelling. A few minor spelling fixes. IDEA highlight

[2016-03-05 00:32] pixelzoom opened #44 "buggy instantiation of GunTargetNode"
Related to #30 (code review).

Looks like a bug in how the GunTargetNode is instantiated.  It's constructor signature is:

```function GunTargetNode( model, options )```

Call sites in PlumPuddingAtomScreenView and RutherfordAtomScreenView are:

[code]
So I'm not sure how this layout code is working.

[2016-03-05 00:47] pixelzoom opened #45 "duplication in options to HSlider"
Related to #30 (code review).

In AtomPropertiesPanel, there's a lot of duplication in the options argument passed to the 2 HSliders.

Recommend to factor out the duplication, like this:

[code]

Then fill in the things that are specific to each slider, like this:

[code]

Similarly for `neutronCountSlider`.

Take special note of how `_.extend` is being used here (3 args), so that `sliderOptions`

[2016-03-05 00:55] pixelzoom commented on #43
(6) Moved a couple of usages of the string plugin out of the constructor. See above commit. Strings should be loaded outside of the constructor, after modules.

[2016-03-05 01:06] pixelzoom opened #46 "inconsistent use of stepEmitter.emit"
Related to #30 (code review).

In RSBaseModel, I see `stepEmitter.emit` called with and without a `dt` argument:

[code]

When using axon.Emitter, you need to use the proper "emit" function, based on the number of args. For example, to pass 1 arg, you would need to use `this.stepEmitter.emit1( dt );`  So in the `this.stepEmitter.emit( dt );` call above, the `dt` arg is actually ignored.

Looking f

[2016-03-05 01:15] schmitzware commented on #44
This is all me..

[2016-03-05 01:24] pixelzoom opened #47 "anti-pattern for using options in PropertySet subtypes"
Related to #30 (code review).

RutherfordAtomModel and PlumPuddingModel are the "container" models for the 2 screens. They extend RSBaseModel, which extends PropertySet.  The way that options are used in this hierarchy is little bit of an anti-pattern.

(1) "Container" models rarely need options. If they do have options, those options are typically not Properties.

(2) RSBaseModel mixes Properties

[2016-03-05 01:26] pixelzoom commented on #47
In this case, it was more expedient for me to demonstrate by making the change, see above commit. Let me know if you have any questions.

[2016-03-05 01:33] pixelzoom opened #48 "delete unused dispose"
Related to #30 (code review).

It looks like instances of RutherfordAtomNode and RSBaseModel exist for the lifetime of the sim, and their `dispose` functions are never exercised.  If that's indeed the case, then recommend to delete code related to dispose, and simply add a comment that instances of these types exist for the lifetime of the sim.

In general:
• For common code, always implement `dis

[2016-03-05 01:36] pixelzoom opened #49 "duplication in ScreenView subtypes"
Related to #30 (code review).

There's some duplication in RutherfordAtomScreenView and PlumPuddingScreenView. I ran out of time today to investigate further and make recommendations.  Assign to myself to look at on 3/7/16.

[2016-03-05 01:40] pixelzoom opened #50 "unnecessary coupling in GunTargetNode"
Related to #30 (code review).

The constructor for GunTargetNode is:

[code]

There's unnecessary coupling here.  GunTargetNode only needs access to `model.gun`.   Recommended to change to:

[code]

[2016-03-05 01:43] pixelzoom opened #51 "unnecessary coupling in ParticleSpaceNode"
Related to #30 (code review).

The constructor for ParticleSpaceNode is:

[code]

There's unnecessary coupling here. ParticleSpaceNode only needs access to model.particles. Recommended to change to:

[code]

[2016-03-05 01:45] pixelzoom commented on #51
Ditto for subtype constructors, RutherfordAtomSpaceNode and PlumPuddingSpaceNode.

[2016-03-05 01:48] pixelzoom opened #52 "unnecessary coupling in AtomPropertiesPanel and RutherfordAtomNode"
Related to #30 (code review).

Constructor for AtomPropertiesPanel is currently:

[code]

There's unnecessary coupling with the model here, since AtomPropertiesPanel only needs 3 Properties from model: userInteractionProperty, protonCountProperty, neutronCountProperty.

Recommended to change constructor to:

[code]

[2016-03-05 01:48] pixelzoom commented on #52
Ditto in RutherfordAtomNode, same 3 Properties are used from the model.

[2016-03-05 01:56] pixelzoom commented on #43
Added type expression for RSBaseModel.particles in https://github.com/phetsims/rutherford-scattering/commit/0829ef923a83074e3ed0b2f236c1a505173ad868

[2016-03-05 02:03] pixelzoom commented on #30
Code review complete, see above for issue (or look for 'dev:code-review' tag). Overall this sim is in great shape, nice job.

@schmitzware said that he'd checked for memory leaks (heap comparison), so I've skipped that step, since it would take me some time.

The only issue that I've assigned to myself is #49. I'd like to take a closer look at duplication in ScreenView subtypes.

@schmitzware, Let

[2016-03-05 06:14] pixelzoom commented on #52
More thoughts on this issue...

(1) The `userInteraction` Property shouldn't be in RSBaseModel, it's only applicable to the Rutherford atom, so should be specific to RutherfordAtomModel.

(2) While it's nice to reduce coupling by passing in only the parts of the model that are needed, it's a drag to have a lot of constructor parameters.  In the case of these 2 constructors ( AtomPropertiesPanel an

[2016-03-05 06:18] pixelzoom commented on #30
Btw... The only issues where I made commits are #39, #43, #47.

[2016-03-05 06:25] pixelzoom opened #53 "remove 'Model' suffix from model types"
Related to #30 (code review).

This occurred to me when I proposed creating type `RutherfordAtom` in https://github.com/phetsims/rutherford-scattering/issues/52#issuecomment-192587315.

Long ago in Java land, we used a 'Model' suffix for model classes, and 'Node' suffix for view classes, e.g., `LightModel` and `LightNode`.  Later in Java land, we dropped the 'Model' suffix, so we'd have (for examp

[2016-03-05 06:27] pixelzoom commented on #49
Note to self: @schmitzware commented a bit on this issue in https://github.com/phetsims/rutherford-scattering/issues/30#issuecomment-192487290.

[2016-03-05 06:43] pixelzoom commented on #39
I checked $HOME/Library/Preferences/IntelliJIdea15/codestyles/phet-idea-codestyle.xml, and `SPACE_BEFORE_FUNCTION_LEFT_PARENTH` is also there, so it's not being overwritten by IDEA.

[2016-03-05 06:43] pixelzoom commented on #36
We recently standardized on .md (GitHub markdown).

[2016-03-05 06:46] pixelzoom commented on #44
The layout options at the call sites are indeed being ignored.  Looks like Node is appearing in the correct location because layout is hardcoded in `GunTargetNode` constructor:

[code]

[2016-03-05 15:54] pixelzoom commented on #49
@schmitzware Initial impression of `GunTargetNode` is that it's a bit of an odd duck.  I have some intuitions about how to factor out a ScreenView base type, but I want to review the requirements for the new "Macro" view (#20) before proposing something half-baked.  Just wanted to let you know in case you dive into addressing code-review issues before I get to this.  I'll now be removing this back

[2016-03-06 20:56] pixelzoom commented on #20
This feature is described as the "atom scene" in this section of the design document:
https://docs.google.com/document/d/1MUdOXlibhm6e_B2wUTAkvoYqN49ayHGG-tcCNGDeqaw/edit#

[2016-03-06 22:14] pixelzoom opened #54 "branch: screenview-refactor"
This branch is related to https://github.com/phetsims/rutherford-scattering/issues/49, and demonstrates how duplicate code might be factored out of ScreenView subtypes.  When that issue is closed, this branch can be deleted.

[2016-03-06 22:16] pixelzoom commented on #49
The differences between the 2 ScreenViews are:

(1) They use different subtypes of ParticleSpaceNode
(2) RutherfordAtomScreenView has an additional control panel for atom properties (AtomPropertiesPanel).

I created a branch named 'screenview-refactor' to demonstrate how to factor out a ScreenView base type. (That branch is documented in https://github.com/phetsims/rutherford-scattering/issues/54

[2016-03-06 22:21] pixelzoom commented on #44
Before you fix this, you might want to review https://github.com/phetsims/rutherford-scattering/issues/49#issuecomment-193006272, where I've proposed to delete GunTargetNode.

[2016-03-06 22:22] pixelzoom commented on #50
Before you fix this, you might want to review #49 (comment), where I've proposed to delete GunTargetNode.

[2016-03-07 15:41] pixelzoom commented on #39
`SPACE_BEFORE_FUNCTION_LEFT_PARENT` is not responsible for the problem. That option (which is apparently just inconsistently named) adds a space when the function is *called*, not after the `function` token.

[2016-03-07 15:50] pixelzoom commented on #39
The option that controls this is accessed via this check box: Preferences -> Editor -> CodeStyle -> Javascript -> Before Parentheses -> Function declaration parentheses.

When checked, this is written to the .xml file:

```<option name="SPACE_BEFORE_METHOD_PARENTHESES" value="true" />```

When unchecked, this is written to the .xml file:

```<option name="SPACE_BEFORE_METHOD_CALL_PARENTHESES" valu

[2016-03-07 15:53] pixelzoom commented on #39
@schmitzware let me know when you have a few minutes to pair with me on this.

[2016-03-07 17:55] schmitzware commented on #44
I started fixing this on Fri so I just went ahead and completed it.. I'll look at #49 today.

[2016-03-07 17:56] schmitzware commented on #50
As #44 - already started working on.

[2016-03-07 18:30] schmitzware commented on #53
I thought we talked about this one before on Skype and it didn't matter - if you want less descriptive names it's fine by me.

[2016-03-07 18:33] pixelzoom commented on #34
Looks great in "Rutherford Atom" screen, but still an issue in "Plum Pudding" screen. And when switching from "Rutherford Atom" to "Plum Pudding", everything that should be in the same location (gun, reset all button,...) now shifts right.  (master sha b96be1b74ba945809c60b7f8c26c2a04c0b0739e)

[2016-03-07 18:34] pixelzoom commented on #40
:+1:  Closing.

[2016-03-07 18:34] #40 closed

[2016-03-07 18:34] pixelzoom commented on #41
:+1:  Closing.

[2016-03-07 18:34] #41 closed

[2016-03-07 18:35] pixelzoom commented on #42
:+1:  Closing.

[2016-03-07 18:35] #42 closed

[2016-03-07 18:37] #38 closed

[2016-03-07 18:53] pixelzoom commented on #44
Looks like you removed the layout options to GunTargetNode in RutherfordAtomScreenView:

```47 var gunTargetNode = new GunTargetNode( model.gun );```

But not in PlumPuddingScreenView:

[code]

This is probably why things are shifting right as reported in https://github.com/phetsims/rutherford-scattering/issues/34#issuecomment-193385294.

[2016-03-07 18:53] pixelzoom commented on #46
:+1:  Closing.

[2016-03-07 18:53] #46 closed

[2016-03-07 18:54] pixelzoom commented on #48
:+1: Closing.

[2016-03-07 18:54] #48 closed

[2016-03-07 18:54] pixelzoom commented on #50
:+1: Closing.

[2016-03-07 18:54] #50 closed

[2016-03-07 19:01] pixelzoom commented on #53
Sorry, don't recall if we discussed it.

Skype discussion with other PhET developers:
[3/7/16, 11:58:43 AM] Chris Malley: Quick poll... If I have model and view components of a "light", what is the preferred naming convention these days? LightModel and LightNode, or Light and LightNode?
[3/7/16, 11:59:24 AM] Jonathan Olson: Light and LightNode is the one I've preferred, and recommended in making-t

[2016-03-07 19:08] pixelzoom commented on #34
Layout "shift" when switching screens is probably due to https://github.com/phetsims/rutherford-scattering/issues/44#issuecomment-193393271.

[2016-03-07 19:18] schmitzware commented on #47
(2) makes perfect sense to me. Thanks for pointing that out.
For (3), Properties are now created two different ways - alphaParticleEnergy and proton/neutron counts.  I don't necessarily agree with the importance of it but it's fine with me.

Should I just close this?

[2016-03-07 19:20] pixelzoom commented on #47
Yup, fine to close. I'll do so.

[2016-03-07 19:20] #47 closed

[2016-03-07 19:30] pixelzoom commented on #36
:+1: Closing.

[2016-03-07 19:30] #36 closed

[2016-03-07 19:32] schmitzware commented on #44
I forgot about the plum pudding screen - this is fixed..

[2016-03-07 19:33] schmitzware commented on #44
I take it back.. :)

[2016-03-07 19:33] pixelzoom commented on #53
AlphaParticle renamed in https://github.com/phetsims/rutherford-scattering/commit/ac93936a98155a9ae1ce5af9734b900c7d061888.

Looks good. Closing.

[2016-03-07 19:33] #53 closed

[2016-03-07 19:36] pixelzoom commented on #45
Looks good, closing.

[2016-03-07 19:36] #45 closed

[2016-03-07 19:37] pixelzoom commented on #44
Confirmed. Closing.

[2016-03-07 19:37] #44 closed

[2016-03-07 19:40] pixelzoom commented on #34
Fixed by https://github.com/phetsims/rutherford-scattering/commit/b547d63acd4b5f17b7e7805f325f0ce37a10d20b in #44.  Closing.

[2016-03-07 19:40] #34 closed

[2016-03-07 22:37] schmitzware commented on #52
I'm very reluctant to change this. The userInteraction property is also used in the AlphaParticlesPropertiesPanel which doesn't care about protons or neutrons. Do I then create another abstraction for just the userInteraction property for that case?

To me, this feels like over abstracting. The app is maybe 3000 lines of code (common excluded). While technically, I can see your point, I wouldn't w

[2016-03-07 22:49] schmitzware commented on #49
Yeah, I agree theGunTargetNode is an odd duck but it breaks it up so it's at least easy to tweek in the two screens. The approach you outline in the branch is close to where I was originally headed when I brought it up the first time.  I'll redo it.

[2016-03-07 22:50] #43 closed

[2016-03-07 23:30] pixelzoom commented on #52
Ah sorry, I missed the fact that `userInteraction` is also relevant to Plumb Pudding.  So fine not to create type RutherfordAtom.

Up to you on whether to decouple as described in https://github.com/phetsims/rutherford-scattering/issues/52#issue-138632221. There are only 7 public fields in the model, 3 of which are relevant to AtomPropertiesPanel and RutherfordAtomModel (userInteraction, protonCou

[2016-03-07 23:31] pixelzoom commented on #52
Ditto for #51.

[2016-03-07 23:31] pixelzoom commented on #51
Up to you whether you do this, see https://github.com/phetsims/rutherford-scattering/issues/52#issuecomment-193504706.

[2016-03-07 23:31] schmitzware commented on #49
Ok.. that IS much nicer and you basically did all the work so I take back my whining..  ;)

[2016-03-07 23:42] pixelzoom commented on #49
Two minor things:

RSBaseScreenView, change to `@author Dave Schmitz (Schmitzware)`, I just moved your code.

RutherfordScatteringScreenView comment contains a leading '+', probably from a merge:
```43 +   * Create the node in which atoms and alpha particles are rendered.```

[2016-03-07 23:43] pixelzoom commented on #49
And feel free to close...

[2016-03-08 19:41] schmitzware commented on #52
AtomPropertiesPanel fix is in 5218563a4eeed2da111fcda4f80e6d53aa665df0
(which has been merged into master)

[2016-03-08 19:42] #49 closed

[2016-03-08 21:01] schmitzware commented on #30
Just waiting on updated images/assets files at this point.

[2016-03-08 21:35] pixelzoom commented on #51
Looks great. One type expression flagged by IDEA:

```@param {AlphaParticleModel[]} particles```

should be

```@param {AlphaParticlel[]} particles```

Feel free to close after fixing that.

[2016-03-08 21:37] pixelzoom commented on #52
Look good.

Two type expressions incorrect in both AtomPropertiesPanel and RutherfordAtomNode, these should be `number` instead of `boolean`:

[code]

Feel free to close after fixing those.

[2016-03-08 21:39] pixelzoom commented on #54
#49 is closed and we got everything we needed out of this branch.  So this branch has been deleted. Closing.

[2016-03-08 21:39] #54 closed

[2016-03-08 21:42] pixelzoom commented on #35
:+1: Closing.

[2016-03-08 21:42] #35 closed

[2016-03-08 21:50] pixelzoom opened #56 "add translated strings to babel"
This is a development task, mentioned in the master checklist #15:

Awhile back, strings for all Java sims were converted to JSON using a batch process, and they live in babel/autoport/.

So this involves moving `babel/autoport/rutherford-scattering/` to `babel/rutherford-scattering/`, and "fixing up" any string keys that may have changed.  Looks like we can globally remove 'string.' from the tran

[2016-03-08 22:17] schmitzware commented on #56
I can do it. But just so I understand:

1. cp babel/autoport/rutherford-scattering babel/rutherford-scattering
2. match up the keys in each file with those in rutherford-scattering-strings_en.json
3. commit/push

?

[2016-03-08 22:26] pixelzoom commented on #56
Yup.

Looks like you can globally replace:

'string.' -> ''
'.name' -> '.title'

There's 1 unused key in the ported strings, "int.minControlPanelWidth", up to you whether to delete it. It will never be visible to the translator, what the translator sees in Rosetta (translation UI) is what's in the English string file.

[2016-03-08 22:28] pixelzoom commented on #56
And if it's too messed up, you can also just punt.  The goal is to provide a starting point for translations if possible, but to rely on the translators to do most of the work.

[2016-03-08 23:11] schmitzware commented on #56
Ok..  I have it in a babel branch (rutherford-scattering). do you want to look at it or should I just merge it?

Looks like these are not used (at least by me) but I didn't remove them:

"rutherford-scattering.description":
"int.minControlPanelWidth":
"string.turnOnTheGun":

[2016-03-08 23:19] pixelzoom commented on #56
"translation.credits" is also unused, never present in English, added to translations by the Java/Flash translation utility. Safe to ignore it.

I looked at a couple of random locales (ar, it, pt) and they look good to me. I'd say go ahead and merge, then delete the branch.

[2016-03-08 23:41] #51 closed

[2016-03-08 23:41] #52 closed

[2016-03-09 00:01] pixelzoom commented on #56
Looks good to me.

I deleted babel/autoport/rutherford-scattering in https://github.com/phetsims/babel/commit/a2d316cd34634ec4c8700616bf6cc5cbe64a4a25.
Ignore https://github.com/phetsims/function-builder/commit/ce38f105dd100cce5b4d459bc0140499bd50941e where I accidentally pushed some function-builder changes.

Assigning to @jbphet.  Since the last time I ported strings was pre-Rosetta, please take

[2016-03-09 16:37] amyh-phet commented on #27
@schmitzware  I just sent you the screen icon AI files.  Please use a black background with the screen icon.   Let me know if I need to make any changes to the files.  Thanks for your patience!

[2016-03-09 16:38] amyh-phet commented on #28
@schmitzware   Finally finished baking the plum pudding and sent you the AI file by email.    Let me know if you need any adjustments to the artwork.

[2016-03-09 17:17] jbphet commented on #56
Files look reasonable, and the Rosetta incantation has been performed.  Closing.

[2016-03-09 17:17] #56 closed

[2016-03-09 21:42] #37 closed

[2016-03-09 21:42] #28 closed

[2016-03-09 21:43] #27 closed

[2016-03-09 21:44] schmitzware commented on #30
Images/Assets have all been updated - checklist looks complete - what's the next step here?

[2016-03-09 22:07] ariel-phet commented on #30
@schmitzware next step would be to publish a "dev" version and have our testers bang on it for a bit to see if there are any bugs.

[2016-03-09 22:07] pixelzoom commented on #30
Next step is for me to note that all code-review issues have been addressed, and close this issue.

[2016-03-09 22:07] #30 closed

[2016-03-09 22:09] pixelzoom commented on #39
Note to self: This is a general issue, not specific. It should be moved to phet-info, where phet-idea-codestyle.xml lives.

[2016-03-09 22:20] pixelzoom commented on #30
To clarify what @ariel-phet said in https://github.com/phetsims/rutherford-scattering/issues/30#issuecomment-194530961...

A "dev test" is an informal test of a "dev" (development) version. It's less rigorous than an "rc" (release candidate) test, in that it doesn't have a format test matrix, etc.  The goal is to find any bugs that may be lurking with a minimal investment of tester and developer r

[2016-03-09 22:25] ariel-phet commented on #30
We will actually RC test this sim for one round, even before #20 is added.

[2016-03-09 23:25] schmitzware commented on #30
(1) - I'll need an account on spot.colorado.edu. I used to have one but that was 25 years ago.. :)

[2016-03-09 23:27] schmitzware opened #57 "Dev test Rutherford Scattering 1.0.0-dev.1"
http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.1/rutherford-scattering_en.html

[2016-03-10 18:32] amyh-phet opened #58 "Modifications to alpha particle source"
To avoid confusion with using the common component being an alpha particle source versus light source, we need to change the body color, button color, and add a label to the source.

[2016-03-10 18:40] pixelzoom commented on #58
@amyh-phet Is this not already being tracked in https://github.com/phetsims/rutherford-scattering/issues/22 ?

[2016-03-10 18:41] pixelzoom commented on #21
@amyh-phet This appear to be done. Can it be closed?

[2016-03-10 18:42] pixelzoom commented on #20
3/10/2016 status meeting: @jessegreenberg will be adding this feature. Talk to me before proceeding.

[2016-03-10 18:46] amyh-phet commented on #21
Yes. Closing.

[2016-03-10 18:46] #21 closed

[2016-03-10 18:47] amyh-phet commented on #58
Yes.  Closing here.

[2016-03-10 18:47] #58 closed

[2016-03-10 18:52] pixelzoom commented on #39
Moved to https://github.com/phetsims/phet-info/issues/14. Closing.

[2016-03-10 18:52] #39 closed

[2016-03-10 18:59] amyh-phet commented on #22
Alpha particle source should be modified as follows:

1) Change body color to look more like a brass covering on body.
2) Change button to aqua blue color
3) Add alpha source label using greek letter for alpha to bottom of source.
4) Enlarge body width to accommodate text.

![alpha_source](https://cloud.githubusercontent.com/assets/13650180/13680818/79c93c1e-e6b7-11e5-8942-5e2bc8de1367.png)

If yo

[2016-03-10 19:03] pixelzoom opened #59 "refine look of nucleus in the Rutherford Atom screen"
@ariel-phet asked to create this issue in 3/10/16 dev meeting.

Requests are:

(1) Refine the look of the nucleus in the Rutherford Atom screen, so that it looks more spherical and doesn't contain holes.  Either use the approach in build-an-atom, or have @andrewadare come up with something else.  If something else, consider apply it to build-an-atom (create an issue).

(2) Programmatically generat

[2016-03-10 19:03] pixelzoom commented on #59
@schmitzware This is not something that you need to do. It will likely be done by @jessegreenberg or @andrewadare.

[2016-03-10 19:11] pixelzoom commented on #22
@amyh-phet Yes, please supply colors that you've used in the above mockup. RGB is preferable to hex.

[2016-03-10 19:12] pixelzoom commented on #22
For the button, please provide both the "on" and "off" colors.

[2016-03-10 19:14] pixelzoom commented on #22
Putting the label on the body is an i18n problem - we'll need to scale the text to fit, and it will undoubtedly be unreadable in some languages.  Would it be OK to put the label below the source?

[2016-03-10 19:15] pixelzoom commented on #22
Can you also provide a mockup with the source shown in context?  Impossible to tell from this mockup what the dimensions should be.

[2016-03-10 19:15] pixelzoom commented on #22
@amyh-phet

(1) Yes, please supply colors that you've used in the above mockup. RGB is preferable to hex. For the button, please provide both the "on" and "off" colors.

(2) Putting the label on the body is an i18n problem - we'll need to scale the text to fit, and it will undoubtedly be unreadable in some languages. Would it be OK to put the label below the source?

(3) Can you also provide a moc

[2016-03-10 20:16] pixelzoom commented on #22
Thanks @amyh-phet.

@schmitzware that should be enough info to proceed. Back to you.

[2016-03-10 22:00] schmitzware commented on #22
Amy - how's that look?

![screen shot 2016-03-10 at 1 59 23 pm](https://cloud.githubusercontent.com/assets/694045/13686020/78544642-e6c8-11e5-87b2-80f54794107c.png)

[2016-03-10 22:27] amyh-phet commented on #22
Beautiful!  Can we change the text to read "particles' instead of "source"?

[2016-03-10 22:49] pixelzoom commented on #22
Test with `?dev&stringTest=long`, looks like `maxWidth` is a tad too large.  Change RSBaseScreenView line 77 to `maxWidth: 200`.

[2016-03-10 22:50] pixelzoom commented on #22
![screenshot_19](https://cloud.githubusercontent.com/assets/3046552/13687331/d794177c-e6d7-11e5-8913-9c99dca0c005.png)

[2016-03-10 22:55] pixelzoom commented on #22
@amyh-phet Just out of curiosity... Why is "Alpha Particle" used for the control panel, while "α particles" is used on the "gun"?

[2016-03-10 23:06] amyh-phet commented on #22
Happy to make this consistent across sim.  I hadn't caught this so I'm glad you brought it up. Let's go with "alpha particle" for consistency.

[2016-03-10 23:09] pixelzoom commented on #22
I thought you might have used "α particles" to save space, when the label was on the gun. Now that it's below the gun, there's more space.

[2016-03-10 23:09] pixelzoom commented on #22
And did you mean 'alpha particles' (plural) as the label on the gun?  You indicated 'alpha particle' (singular).

[2016-03-10 23:13] amyh-phet commented on #22
Yes, plural on the gun as it is capable of emitting many alpha particles.  And yes, the label was shorter with "α particles" so my guess is that might be where the symbol originally came from.

I think it is best to keep "alpha particle" singular in the control panel and legend.

[2016-03-10 23:55] schmitzware commented on #22
Now I'm confused - gun label:
"alpha particles" or "α particles"

[2016-03-11 00:12] pixelzoom commented on #22
Agreed, confusing. @amyh-phet's comments aren't very consistent about upper/lowercase. E.g "keep 'alpha particle' singular in the control panel", when the control panel is currently labeled 'Alpha Particle'.

PhET typically capitalizes each word, and that's what is done elsewhere in this sim. So I recommend labeling the gun "Alpha Particles".  @amyh-phet is that OK, or is there some reason why it

[2016-03-11 00:39] amyh-phet commented on #22
One more try - sorry, I was trying to get to class and wasn't very clear.

Gun label:  "Alpha Particles"
Legend label:  "Alpha Particle"
Panel label: "Alpha Particle"

Let me know if you have more questions.

[2016-03-11 02:01] pixelzoom commented on #22
Reopening.  Looks like the new key is the string file is still "alphaSource", should be "alphaParticles".  We try to keep these somewhat close to the key value, at least to start.

[2016-03-11 02:14] schmitzware commented on #22
string key change in 79d756d6b3fb524ef5fbc95346a26d78a7bee20f

[2016-03-11 02:22] pixelzoom commented on #22
[code]

This means that you also have to change the require statement in RSBaseScreenView, line 37:

```var alphaSourceString = require( 'string!RUTHERFORD_SCATTERING/alphaParticles' );```

While you're in there... RSBaseScreenView line 72:

```var alphaSourceText = new Text(```

Change var name to `alphaParticlesText`.

Sorry if these seem like nits. But for maintenance, we often go looking for s

[2016-03-11 02:26] pixelzoom commented on #22
Btw... The above lint error is from a custom PhET rule.  For a `require` call that involves the `string!` plugin, it requires that the var name must be the string key with 'String' suffix added.  So if the string key is "foo" then you need `var fooString = ...`

[2016-03-11 03:57] schmitzware commented on #22
this is getting ridiculous.. I'll fix it tomorrow.

[2016-03-11 18:29] #22 closed

[2016-03-16 22:28] schmitzware commented on #57
http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.1/rutherford-scattering_en.html

[2016-03-17 17:42] ariel-phet commented on #57
@schmitzware testing tasks should be made in the tasks repo.

Moving this issue there and will flesh out and assign https://github.com/phetsims/tasks/issues/545

closing

[2016-03-17 17:42] #57 closed

[2016-03-30 20:20] phet-steele opened #60 "Legend panel strings misaligned"
The string for "Alpha Particle" is slightly more to the right when compared to the prior three strings in the legend, and "Proton" and "Neutron" are slightly more to the right than "Electron". @schmitzware can we align these four strings better? Since I'm assuming "Alpha Particle" etc.. strings are pushed to the right due to varying image sizes, maybe the solution is to move all four strings to th

[2016-03-30 20:28] phet-steele opened #61 "Tweakers should be disabled on min/max"
The tweaker arrows that adjust proton and neutron amount should be disabled and grayed out when they are at their min/max values.
Currently they are like this:
![tweakerenabled](https://cloud.githubusercontent.com/assets/5863899/14156384/67a1ad42-f683-11e5-86d0-7c623c9ac8d2.PNG)
But should look like this:
![tweakerdisabled](https://cloud.githubusercontent.com/assets/5863899/14156391/6ce75522-f683-

[2016-03-30 20:34] phet-steele opened #62 "Labels on slider appear clickable"
The labels for the energy slider that say "min" and "max" appear clickable due to the mouse cursor changing to a hand on hover. Clicking them does nothing, so these labels should not prompt the user to click. See the same issue here and the commit that fixed it: phetsims/gravity-force-lab/issues/70

@schmitzware can you fix this, but also since I'm staring to see this issue present in other sims m

[2016-03-30 20:47] phet-steele opened #63 "Alpha particles overlap with atom"
@amyh-phet @ariel-phet setting the sim to minimum protons, maximum neutrons, and max energy can cause some alpha particles to visually overlap with the atom. Is this going to hinder student learning?
![alphacuddle](https://cloud.githubusercontent.com/assets/5863899/14156899/f5717560-f685-11e5-8c99-76d3cab6d656.PNG)
The shape of the atom is random every time, so some shapes have a more extreme over

[2016-03-31 01:50] ariel-phet commented on #63
Definitely a question for @amyh-phet

[2016-04-01 16:48] phet-steele commented on #60
Looks fantastic, thanks!

[2016-04-01 16:48] #60 closed

[2016-04-01 16:52] phet-steele commented on #62
Labels are successfully unpickable, thank you!

[2016-04-01 16:52] #62 closed

[2016-04-01 19:18] amyh-phet commented on #63
@phet-steele and @ariel-phet  While overlap looks a bit odd, I don't see a way around this with the current model used for the sim.  The overlap is caused by a small impact parameter due to the small number of protons in nucleus and the large energy of the incoming alpha particles.  This behavior would support students achieving the second learning goal, "For charged nucleus, describe qualitativel

[2016-04-01 19:18] #63 closed

[2016-04-01 20:55] amyh-phet commented on #61
@phet-steele    Discussed with @arouinfar and behavior seems consistent with Hooke's law and other sims.  I think the black background makes the graying out look a bit different, but I don't think it rises to the level of needing to be changed.

Closing.

[2016-04-01 20:55] #61 closed

[2016-04-11 16:56] pixelzoom commented on #20
Some thoughts on implementation....

Model:

It has been previously suggested to have a totally different model for the 'Atom' scene. I think that's undesirable and unnecessary.  Better to use the same model in both scenes.   So I would look at generalizing RSBaseModel and RutherfordAtomModel to handle multiple nuclei, with the 'Atom' scene being the general case (N nuclei) and the 'Nucleus' scene

[2016-05-16 21:29] jessegreenberg commented on #20
Whether or not we generalize RSBaseModel and RutherfordScatteringModel to handle multiple atoms, I am not sure how to apply the trajectory model to this scene.  See https://github.com/phetsims/rutherford-scattering/blob/master/doc/trajectories.pdf.

It looks like that algorithm uses a particle in a box approximation and makes assumptions about the atoms being in the center of the box.  So we will

[2016-05-16 22:24] ariel-phet commented on #20
@jessegreenberg would it be crazy to just treat each atom as its own "box" so that you basically have 5 boxes, and each time a particle crosses into a box, you only worry about the nucleus being in the center of that box? It seems then there just needs to be some scale factor, the deflections and such would always be at the same angles?

[2016-05-17 01:21] schmitzware commented on #20
Intersting idea, Ariel. Jesse could just pass off a particle (w/ current it's vector) to an individual display (aka 'box) and let that sim step the models of it's own particles. This is actually how some large multi-machine, large format displays (i.e. multiple monitors) work.

One question for you physicists - in the model, is the effect of each nucleuses small enough that it really doesn't effec

[2016-05-17 02:29] ariel-phet commented on #20
@schmitzware yes the nucleus is definitely small enough. The average nucleus is around 10^-15 m in diameter, the average atomic radius is 10^-10 m. So a factor of 100,000 times smaller than the actual atom. (the analogy often used is that if you place a baseball at second base in an MLB baseball stadium, the size differential between the ball and the stadium is about the same as the nucleus and th

[2016-05-17 22:51] jessegreenberg commented on #20
Yes, I really like the idea of treating each atom as its own box!  I think that will be a good way to generalize the model to N atoms too.  It will be more involved than just a scaling factor, because now we need to handle the cases where particles can enter a box from any direction.  Even if we do not handle multiple deflections, the trajectory is dependent on the initial conditions of the partic

[2016-05-17 22:56] jessegreenberg commented on #20
Additional design decisions, discussed with @amyh-phet:

- The beam is intentionally wider for the Atom scene.
- The user should be able to turn of trajectories of particles in the 'Atom' Scene
- Trajectories in the 'Atom' scene can disappear as soon as the particle reaches the bounds of the model.
- Electron energy level circles scaled by the Bohr radii do not need to change with the number of pr

[2016-05-18 15:57] jessegreenberg commented on #20
Commit above is an initial commit which implements model changes.  It is working well and the Atom scene behaves correctly.  Up next:

- Atom subtypes (specifically moveParticle) function should be refactored into Atom.js.
- Check for additional places to refactor new code
- Implement new view representations for the atoms and particles of the 'Atom' scene.
- Additional changes to the view for ato

[2016-05-23 16:54] jessegreenberg commented on #20
It also appears that the top right and bottom center atoms are not causing any scattering.  Will look into that as well.

[2016-05-23 21:25] jessegreenberg commented on #20
Commit above draws the radii scaled by Bohr Energies.

[2016-05-23 22:41] jessegreenberg commented on #20
Commit above implements the new 'particle' representation with magenta circles and traces.

[2016-05-26 16:55] ariel-phet opened #64 "Increase transparency of alpha particle beam in "atom" scene"
To give a feel that in the atom scene the alpha particle beam is more diffuse lets make the beam more transparent in addition to being wider. Basically this beam should feel a dimmer and the nucleus scene should feel brighter.

[2016-06-01 17:58] jessegreenberg commented on #20
The model for the atom scene is incorrect and needs to be fixed.  At the moment, the bounding box for the trajectory approximation is the bounds containing all Bohr Radii for the atom.  This is too large for the model since a particle only scatters when much closer to the nucleus.  The bounding box needs to be only slightly larger than the nucleus.

So the model should change to something like thi

[2016-06-01 23:54] jessegreenberg commented on #59
@ariel-phet is this something that you would like @jessegreenberg and/or @andrewadare to work on now?  As mentioned in https://github.com/phetsims/rutherford-scattering/issues/59#issue-139980432 we could either generalize the approach used by build-an-atom and isotopes-and-atomic-mass (hopefully already in shred) or @andrewadare could work on a new representation, which could replace the one in sh

[2016-06-02 00:25] jessegreenberg opened #65 "Scene radio button design"
Related to #20, @emily-phet had the following thoughts and recommendations regarding the scene radio buttons:

@amyh-phet also mentioned:

@amyh-phet how would you like to proceed?

[2016-06-02 00:34] jessegreenberg commented on #65
Regarding translations, the radio button text is scaled for i18n.  For example triple length looks like
![triple](https://cloud.githubusercontent.com/assets/6396244/15730134/37d8f5ea-2827-11e6-83ee-5c7989017c5d.PNG)

Icons could still be useful, but what do you think @amyh-phet?

[2016-06-02 00:56] ariel-phet commented on #59
@jessegreenberg it seems like it is worth investigating generalizing the approach used in build-an-atom. It just needs to "look" reasonable, but I would advice consulting with @andrewadare to makes sure that the reasonable look does not break any major rules of nuclear physics!

[2016-06-02 15:39] jessegreenberg commented on #59
Sounds good @ariel-phet, thanks.  I will consult with @andrewadare before proceeding.

[2016-06-02 15:47] amyh-phet commented on #65
@jessegreenberg  Looks like we have room for translation, but I think icons might just be easier.  I can work on them today and send you the file.

[2016-06-02 21:12] jessegreenberg commented on #65
Files received via email, adding them in today and assigning to myself.

[2016-06-02 21:41] jessegreenberg commented on #65
To fit the new icons, we will need to bring the particle down just a bit.

[2016-06-02 21:50] jessegreenberg opened #66 "Should particles avoid the center of the space?"
For the nucleus scene, the gun prevents particles from firing directly through the center of the space

[code]

This is undesirable for the atom scene since we want particles to occasionally scatter of the center atom.  Is there a reason to keep this behavior for the 'nucleus' scene?

[2016-06-02 22:06] jessegreenberg commented on #66
@phet-steele just pointed out that occasionally the particles will cuddle up into the atom.  When the particles come directly through the center, this effect is even more obvious.

![alphacuddlev2](https://cloud.githubusercontent.com/assets/6396244/15762593/e1279d54-28db-11e6-8e6a-72206564568e.PNG)

[2016-06-02 22:14] jessegreenberg commented on #66
The trajectory algorithm has a value L_DIVISOR which we might be able to tweak so that particles shy away from the nucleus a bit more.  But I have no idea what this is doing in the context of the physical model.  And if this L_DIVISOR is low enough to prevent particles from hitting the nucleus, they are too sluggish when energy is low.

[2016-06-02 22:16] amyh-phet commented on #66
@jessegreenberg   I will look into this tonight to see what L_DIVISOR is doing in the model.

[2016-06-03 16:00] jessegreenberg commented on #66
Thanks @amyh-phet! From trajectories.pdf

L_DIVISOR is the value 16, currently at value 8 in the implementation.

[2016-06-03 16:13] amyh-phet commented on #66
@jessegreenberg   Thanks for the clarification of the number actually used in implementation.  One quick question that I can't figure out from the model documentation.  How are the coordinates for x set up?  If x=0 initially, does that correspond to the center of the nucleus (basically the center of the box) or does it refer to the left-most edge of the box?

[2016-06-03 16:22] jessegreenberg commented on #66
The coordinate frame for trajectories assumes that the atom nucleus is at ( 0, 0).  I just found some notes ini the Java that might be helpful.  I will add them to the JavaScript.

     * (1) The atom is located at (0,0).
     * This is not the case in our model. So coordindates are adjusted
     * as described in the comments.
     * (2) +y is up.
     * Our model has +y down. So we'll be adjusti

[2016-06-03 16:23] jessegreenberg commented on #66
This is our answer!

[2016-06-03 16:26] jessegreenberg commented on #66
Also, at the bottom of https://github.com/phetsims/rutherford-scattering/blob/master/doc/trajectories.pdf

[2016-06-03 16:29] amyh-phet commented on #66
@jessegreenberg   Good catch.  I think the problem is when x=0, the loop for calculating the new x,y coordinates of the alpha particle fails because we get a situation with a 0 in the denominator.

[2016-06-03 16:38] jessegreenberg commented on #66
@amyh-phet that would make a lot of sense.  When x0 is exactly zero, it will hiccup a bit in the 'Atom' scene (single particle shown below)
![recording 13](https://cloud.githubusercontent.com/assets/6396244/15785934/39c67cbe-2977-11e6-87cf-dad41f3e5ea5.gif)

And particles in the 'Nucleus' scene fail too quickly to appear in the space.

[2016-06-03 16:43] amyh-phet commented on #66
@jessegreenberg   Any ideas on how to address this issue?  Need anything from me?

[2016-06-03 16:44] amyh-phet commented on #66
@jessegreenberg   Sounds like a reasonable fix.  Thanks for tracking down the source of the error.

[2016-06-03 18:13] jessegreenberg commented on #66
Fixed in the commit above, the position correction (X0_MIN)  from the gun is now a function of the atomic bounds, now var xMin.  Correction is only applied if the particle if the particle x0 is within xMin from the atomic nucleus.  Closing.

[2016-06-03 18:13] #66 closed

[2016-06-06 18:07] ariel-phet commented on #64
Looked at this on the latest pull from master. Looks good to me. Close if you wish @jessegreenberg

[2016-06-06 18:56] jessegreenberg commented on #59
@andrewadare and I discussed the representation and some possible alternatives.  One possibility that @andrewadare suggested was to use the Woods-Saxon formula to model the density distribution of nucleons as a function of the radius.
![density](https://cloud.githubusercontent.com/assets/6396244/15833248/2e55cb1e-2be3-11e6-8b4f-701e4a5f2061.jpg)
( http://slideplayer.com/slide/8620364/ )

The resul

[2016-06-09 00:57] jessegreenberg commented on #59
Looking pretty good:
![capture](https://cloud.githubusercontent.com/assets/6396244/15915921/ad56fafa-2daa-11e6-9f6a-2827727840cc.PNG)

But I had to make some changes in shred and I would like to ask a couple of questions about ParticleAtom.js before making the commit.

[2016-06-09 00:59] jessegreenberg commented on #64
Great, thanks @ariel-phet!

[2016-06-09 00:59] #64 closed

[2016-06-09 01:22] jessegreenberg opened #67 "branch: nucleus-sphere"
Created a new branch to test using shred to represent the rutherford nucleus.  See #59.

[2016-06-09 01:25] jessegreenberg commented on #59
If we go through with this new representation, we will need to also replace icons for
- [ ] the Rutherford Nucleus Scene radio button
- [ ] the Rutherford Nucleus Screen icon

[2016-06-09 02:07] ariel-phet commented on #59
The screenshot looks quite good to me!

[2016-06-14 17:56] jessegreenberg commented on #59
Home screen icon and radio button icon both match the new nucleus representation.

[2016-06-14 17:57] jessegreenberg commented on #59
I think that completes this issue, ready for review.

[2016-06-14 21:48] jessegreenberg commented on #20
Particles are removed from the scene before the trajectory algorithm fails.  The algorithm *never* fails for the 'Nucleus' scene, but frequently fails for the 'Atom' scene.  We should find out why.

I don't think it is because the particles are too close to the center of a nucleus, sometimes particles are removed from the space when they are far to the left or right of the center of the nucleus.

[2016-06-14 21:56] jessegreenberg commented on #20
After about five minutes of running the 'Atom' scene, 16 particles were removed from the space, and all were due to this catch
[code]

There are 8 places where the algorithm looks for a failure like this and this is the only one that is happening with noticeable frequency.

[2016-06-15 15:24] jessegreenberg commented on #20
It looks like the atoms are also 'bouncing' when they hit the boundary of the atom's box.  This is only noticeable when the particles have high energy and there are only a few protons in the nucleus.

![capture](https://cloud.githubusercontent.com/assets/6396244/16085912/f3230da0-32da-11e6-9b29-c7e14575e2d2.PNG)

[2016-06-15 16:34] jessegreenberg commented on #20
This might be due to incorrect initial conditions in the trajectory algorithm.  The initial conditions are at the entry point of the particle in the space, while they should be the entry point of the particle in the particular atom's bounds.

[2016-06-15 16:45] jessegreenberg commented on #20
Commit above fixes the issue https://github.com/phetsims/rutherford-scattering/issues/20#issuecomment-226244307 was correct.  This seems to improve the behavior of particle trajectories for the atom screen, maybe https://github.com/phetsims/rutherford-scattering/issues/20#issuecomment-226026502 will be fixed for free?

[2016-06-15 16:54] jessegreenberg commented on #20
Not fixed, but improved.  3 particles were removed from the space in 5 minutes, down from 16 particles in five minutes in https://github.com/phetsims/rutherford-scattering/issues/20#issuecomment-226028415.

[2016-06-15 17:04] jessegreenberg commented on #20
Increasing the size of the atomic bounds seems to make the algorithm less fragile too, after the commit above, I 0 particles were removed from the space in 8 minutes.  I am considering that sufficient and will wait to investigate unless it is observed in dev testing or review.

[2016-06-16 15:19] jessegreenberg commented on #20
I believe that everything is complete for the 'Atom' scene.  A task has been opened for dev testing.  @amyh-phet would you please also review the dev version to verify that the new 'Atom' scene features are to spec?

**Dev version:** http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.3/rutherford-scattering_en.html

Pinging @ariel-phet in case he would like to take a loo

[2016-06-16 16:45] ariel-phet commented on #20
Visually everything looks great. Seems like we need to investigate multiple scattering (or avoiding it).

Remember the learning goal is certainly "the atom is mostly empty space" so hollywooding this would be fine if we just made sure multiple scattering does not occur, but feel free to investigate.

[2016-06-16 17:15] jessegreenberg commented on #20
The trajectory algorithm makes the following assumptions:
[code]
We really just have to get around assumption 3.  To implement multiple nuclei we are already adjusting the new position of the particle relative to the frame of the nucleus, see https://github.com/phetsims/rutherford-scattering/issues/20#issuecomment-219877790.  Perhaps we can do a similar correction for the particle moving into the

[2016-06-16 17:23] jessegreenberg commented on #20
I will take a look at https://github.com/phetsims/rutherford-scattering/issues/20#issuecomment-226551995.  If it seems to be something that will take a lot of time, it is likely we can 'hollywood' the particles to enter the space at a position which will not create multiple deflections as mentioned in https://github.com/phetsims/rutherford-scattering/issues/20#issuecomment-226543631.  The trajecto

[2016-06-16 18:42] jessegreenberg commented on #20
Multiple deflections seem very possible with the current trajectory algorithm since we can use the symmetry of the bounding box and assume that the nucleus as in the center.  If the particle enters the box from the top, we can rotate its position 180 degrees relative to the position of the nucleus.  The algorithm calculates a change in the position from the particle.  That delta vector can then be

[2016-06-16 21:02] jessegreenberg commented on #20
Yes, https://github.com/phetsims/rutherford-scattering/issues/20#issuecomment-226576125 should work really well, and at this point supports particles coming in from the top of the bounding box.
![recording 15](https://cloud.githubusercontent.com/assets/6396244/16133100/6112129a-33d3-11e6-863e-17bccb5c4fa8.gif)

[2016-06-20 23:42] jessegreenberg commented on #20
The next big step is to handle particles coming in with non zero x velocity.

[2016-06-22 19:02] jessegreenberg commented on #20
https://github.com/phetsims/rutherford-scattering/issues/20#issuecomment-226576125 was not sufficient for handling particles entering the bounding box with an orientation that isn't orthogonal to the bottom edge of the box.  Instead, we need to rotate the coordinate frame of the bounding box to capture initial conditions correctly.  When the particle enters the rotated box, the atom can begin the

[2016-06-22 19:16] jessegreenberg commented on #20
More general approach of rotating coordinate frame of bounding box works for particles entering from the top as well:
![top](https://cloud.githubusercontent.com/assets/6396244/16280092/352515d6-387b-11e6-9499-85ecac12ce80.PNG)

Next I will need to investigate a couple new bugs introduced with the new approach.  Particles can occasionally get stuck inside the bounding box.  The trace following the

[2016-06-22 21:26] jessegreenberg opened #68 "Particles occasionally ignore nucleus"
Particles occasionally ignore the nucleus now.  Very obvious when streaming from the same x location, shown below.

![particles ignore](https://cloud.githubusercontent.com/assets/6396244/16284261/98ac28e4-388d-11e6-8b70-a5c4955f1746.PNG)

[2016-06-23 01:19] jessegreenberg commented on #59
This was verified, closing.

[2016-06-23 01:19] #59 closed

[2016-06-23 01:20] jessegreenberg commented on #68
Fixed in commit above via #20.  Closing.

[2016-06-23 01:20] #68 closed

[2016-06-23 01:21] jessegreenberg commented on #20
Multiple deflections supported in commit above.

[2016-06-23 02:07] jessegreenberg opened #69 "Erratic particle behavior for the 'Atom' scene"
Related to #20, but to track some erratic behavior of for the 'atom' scene.  Occasionally the trajectory gets really strange or the particle will get stuck within the bounds of a box. Likely related to changes to trajectory algorithm error handling from #20.

[2016-06-23 02:11] jessegreenberg commented on #69
Behavior seems especially bad when energy is low.

Here is an example of one that got stuck in the bounds after hitting
[code]
![stuck](https://cloud.githubusercontent.com/assets/6396244/16289792/7bee178a-38b5-11e6-9c66-0b24eb1a42af.PNG)

[2016-06-23 15:23] jessegreenberg commented on #69
After running for several hours things really start to look broken.  But every single error hit the case above in https://github.com/phetsims/rutherford-scattering/issues/69#issuecomment-227931229.

For multiple deflections, i1 will be less than zero but still work fine if the particle comes in at an angle.  Removing the particle every time i1 is less than zero makes all particles disappear before

[2016-06-23 15:39] jessegreenberg commented on #69
Just for reference, here is what the sim looks like after running overnight
![capture](https://cloud.githubusercontent.com/assets/6396244/16309572/6892b698-3926-11e6-98c2-ba0098cf9519.PNG)

[2016-06-23 17:06] jessegreenberg commented on #69
Fixed, particles were not being transitioned to new atoms correctly.  Algorithm was failing because a particle trajectory was being calculated by an atom which was very far away from the particle.  Closing.

[2016-06-23 17:06] #69 closed

[2016-06-23 18:31] alynne-phet opened #70 "Count tweakers reset the alpha particles when clicked at min or max"
For phetsims/tasks#627
Test Device: Personal Laptop
Operating System: Mac OSX 10.11.5
Browser: Safari

Problem Description: On the Rutherford Atom screen, the proton and neutron count tweakers reset the alpha particles even when clicked at min or max.

Steps to Reproduce:
1. Select the Rutherford Atom screen
2. Move the number or protons and/or neutrons to the min or max setting
3. Click the count

[2016-06-23 20:15] jessegreenberg commented on #70
Great catch @alynne-phet, thanks.

[2016-06-24 19:36] andrea-phet opened #71 "iPad 2 performance problems"
Test device: TYCHO (iPad 2)

Operating System: iOS 9.3.3

Browser: Safari/601.1

Problem description: These problems are seen on iPad 2 but haven't been seen on windows, mac, chrome or firefox. @phet-steele @alynne-phet

Steps to reproduce:
Problem 1. Alpha particles sometimes disappear when they directly/close to directly hit a rutherford nucleus, instead of bouncing off.
1. Choose Rutherford Ato

[2016-06-24 19:40] andrea-phet commented on #71
For phetsims/tasks/issues/627

[2016-06-24 19:43] brroberts1231 commented on #71
The alpha particles disappearing when hitting atoms dead on has been seen on IE11 and Edge as well.

[2016-06-24 20:12] amyh-phet opened #72 "Remove Electron from legend on Rutherford Atom screen"
@jessegreenberg

We need to remove Electron from the legend in the Rutherford atom screen as no electrons are shown on this screen.

[2016-06-24 20:28] amyh-phet opened #73 "Scale label on Rutherford and Plum Pudding screen"
On Rutherford Atom screen:
1) On nucleus view, change current label [150 fm (nuclear scale)]  to read:     1.5 x 10<sup>-13</sup> m (nuclear scale)
2) On atom view, change current label  [600 pm (atomic scale)] to read:    6.0 x 10<sup>-10</sup> m (atomic scale)

On Plum Pudding Atom screen, change current label [300 pm (atomic scale)] to read:  3.0 x 10<sup>-10</sup> m (atomic scale)

[2016-06-27 18:28] jessegreenberg commented on #71
Thanks for catching these!  I am going to break this up into separate issues and reference this once since there is a fair amount to track here.

[2016-06-27 18:30] jessegreenberg opened #74 "Alpha particles disappear too frequently"
From #71, @andrea-phet noticed that alpha particles disappear frequently, especially when alpha particle energy is high.

The alpha particles are likely still too close to the center of the nucleus, and the trajectory algorithm is failing.

[2016-06-27 18:31] jessegreenberg opened #75 "Delay in alpha particle pause"
From #71, @andrea-phet noticed that

1. Go to the Rutherford Atom or Plum Pudding Atom screen
2. Choose any scene
3. Turn on the gun
4. Click pause

[2016-06-27 18:34] jessegreenberg opened #76 "Particle delay after pressing play"
From #71, and possibly related to #75.  @andrea-phet noticed that

The particles seem to be moving in the background (in the model?) without the screen catching up, because when the particles start moving on the screen again, it's from a different location (further down their path).
1. Repeat steps in problem 2
2. Click play

Can be observed here: https://drive.google.com/open?id=0B_qcKyUiFT4MNExy

[2016-06-27 18:37] jessegreenberg commented on #76
Note that this is especially noticeable on an iPad2.

[2016-06-27 18:44] jessegreenberg commented on #71
@andrea-phet do you observe problem 4 for both scenes of the Rutherford Atom screen?

[2016-06-27 18:45] jessegreenberg opened #77 "Performance when updating proton/neutron count in Rutherford Atom screen"
From #71, @andrea-phet noticed that

1. Choose the Rutherform Atom screen.
2. In the Atom panel on the right, click the spinner arrows or quickly drag the slider back and forth
https://drive.google.com/open?id=0B_qcKyUiFT4MNE83NzhVM2E5c0U

[2016-06-27 18:51] andrea-phet commented on #74
We've only seen this happen on the iPad 2, Edge, and Internet Explorer. Chrome and Firefox seem to be fine.

[2016-06-27 19:03] andrea-phet commented on #74
Update: just saw this happen on Chrome, although infrequently. So you are right, it is probably in the algorithm.

[2016-06-27 19:09] andrea-phet commented on #71
Yes, problem 4 occurs on both scenes. Just tested it.

[2016-06-27 22:16] jessegreenberg commented on #71
Ok, thanks @andrea-phet.

[2016-06-27 22:17] jessegreenberg commented on #77
In #71 @andrea-phet noticed this on both scenes of the 'Rutherford Atom' screen.

[2016-06-27 22:19] jessegreenberg commented on #77
Delay is likely caused by rendering the image of the nucleus.  Will try to verify when I get access to a tablet.

[2016-06-30 00:55] jessegreenberg commented on #75
There is a noticeable delay when *any* button is pressed. (Gun button, scene radio buttons, play, pause, step...).

Just compared it to Neuron on the same device, and the delay is much more noticeable.

[2016-06-30 01:03] jessegreenberg commented on #76
See #75, likely related.

[2016-06-30 17:56] jessegreenberg opened #78 "Code Review: New 'Atom' scene features"
A fair amount of the sim structure has changed and several new types have been added to support new features associated with the 'Atom' scene of the 'Rutherford Atom' screen.

It would probably be beneficial to have new content code reviewed.  Assigning to myself, but @schmitzware has kindly accepted the review task.  @jessegreenberg will assign to him once it is ready.

[2016-07-01 15:27] andrea-phet commented on #74
I still see the particles disappear on iPad, although much more infrequently. I also saw one disappear on internet explorer when it bounced off one nucleus and hit the center of another.

[2016-07-05 22:53] jessegreenberg opened #79 "Visual cue for 'plum pudding'"
In 6/30 status meeting, we mentioned that we might need an indication of what the plum pudding blob is in the 'Plum Pudding' screen.  Not sure where we left off on that, assigning to @amyh-phet to track.  If it is not necessary, feel free to close immediately @amyh-phet.

[2016-07-05 22:55] jessegreenberg opened #80 "Label for alpha particle gun"
In 6/30 status meeting, @amyh-phet mentioned that the label might need to be added back to the particle gun.  Creating this issue just to track status.

[2016-07-05 23:16] jessegreenberg commented on #73
@amyh-phet this dev version includes this change.

http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.7/rutherford-scattering_en.html

Would you mind reviewing?  If acceptable, please close.

[2016-07-05 23:19] jessegreenberg commented on #72
@amyh-phet this version has the electron removed:  http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.7/rutherford-scattering_en.html

Closing, but if something seems incorrect please let me know.

[2016-07-05 23:19] #72 closed

[2016-07-06 14:46] amyh-phet commented on #73
Looks great.  Closing

[2016-07-06 14:48] amyh-phet commented on #80
@jessegreenberg   I do think we need to add the Alpha particle label back on the alpha particle source.  In interviews, student took a long time to turn on the source, so something to draw their attention to the source is needed.

[2016-07-06 14:57] amyh-phet commented on #79
@jessegreenberg    I do think adding a label for plum pudding would be in order.  I've attached a copy of the artwork for the legend and a picture of what the new legend should look like.  Let me know if you have questions or need me to revise the artwork in any way.
![positive_charge_pudding](https://cloud.githubusercontent.com/assets/13650180/16622519/b27d6632-4357-11e6-80b1-338e9779b4ff.png)

!

[2016-07-06 15:07] #73 closed

[2016-07-06 15:08] amyh-phet commented on #65
Icons worked well in student interviews.  Closing.

[2016-07-06 15:08] #65 closed

[2016-07-06 15:16] amyh-phet opened #81 "Gold foil color change"
@jessegreenberg   Can we change the color of the gold foil to:  bba836.   If there is a gradient on the foil, we could use the following:
light: d6cb86
medium: bba836
dark: 8c7e29

No gradient needed, but making the foil appear more "gold" would be good.  In interviews, students referred to the foil as green.

[2016-07-06 16:01] jessegreenberg commented on #75
This is not observable on http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.1/rutherford-scattering_en.html.

[2016-07-06 16:02] jessegreenberg commented on #77
This is not observable on http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.1/rutherford-scattering_en.html.

[2016-07-06 16:02] jessegreenberg commented on #76
This is not observable on http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.1/rutherford-scattering_en.html.

[2016-07-06 16:42] jessegreenberg commented on #76
Removing the nucleus icons significantly improves responsiveness of all buttons.

[2016-07-06 16:50] jessegreenberg commented on #76
Specifically, this is true for the icons in the radio button and the screen view icon.  Leaving the node in the space is fine since it renders the canvas with images.

[2016-07-08 20:46] jessegreenberg commented on #77
Commit above should fix this, collapsing back into #71 for review.

[2016-07-08 20:46] #77 closed

[2016-07-08 20:46] jessegreenberg commented on #76
Commit above should fix this, collapsing back into #71 for review.

[2016-07-08 20:46] #76 closed

[2016-07-08 20:46] jessegreenberg commented on #75
Commit above should fix this, collapsing back into #71 for review.

[2016-07-08 20:46] #75 closed

[2016-07-11 16:20] jessegreenberg commented on #79
Commit above adds this to the legend.

[2016-07-11 16:35] jessegreenberg commented on #80
@andrea-phet added this in the commit above, closing.

[2016-07-11 16:35] #80 closed

[2016-07-11 16:36] jessegreenberg commented on #81
@andrea-phet completed this in the commit above.

[2016-07-11 16:50] jessegreenberg commented on #81
@amyh-phet can you review the change in this dev version and close if it seems good?

http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.8/rutherford-scattering_en.html

[2016-07-11 16:51] jessegreenberg commented on #79
@amyh-phet would you mind reviewing the change?  Here is the latest dev version:
http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.8/rutherford-scattering_en.html

[2016-07-11 16:52] jessegreenberg commented on #79
@amyh-phet would you mind reviewing the new icon in the legend?

Here is the latest version:
http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.8/rutherford-scattering_en.html

[2016-07-11 17:32] amyh-phet commented on #79
Looks good. Thanks for implementing.

[2016-07-11 22:37] jessegreenberg commented on #79
Great thanks @amyh-phet.  Closing.

[2016-07-11 22:37] #79 closed

[2016-07-11 22:45] jessegreenberg commented on #74
I added a query parameter to count how many particles are removed in error.  With max energy and max protons in each atom, 61 particles were removed from the space in 15 minutes.

[2016-07-12 19:08] alynne-phet commented on #70
Fixed, closing.

[2016-07-12 19:08] #70 closed

[2016-07-12 19:10] alynne-phet commented on #71
Fixed, closing. Problem one is being tracked in issue #74.

[2016-07-12 19:10] #71 closed

[2016-07-14 04:21] jessegreenberg commented on #74
This happens significantly more frequently on iPad2.

[2016-07-14 04:28] jessegreenberg commented on #74
Above commit shows where the error occurs.  After running sim for about 5 minutes, 9 particles were removed on iPad2 , all of which hit the error condition on line 204 of RutherfordAtom:
[code]

[2016-07-14 04:39] jessegreenberg commented on #74
It seems that algorithm is successful when phiNew is between 0 and ~2.8 (range of observed values while watching in chrome console).

Watching on iPad2, phiNew values for error observed between 0 and 2.26, which seems fine.  Perhaps D value is incorrect?

[2016-07-14 04:44] jessegreenberg commented on #74
D value identical for both platforms.  Im looking at you ```b``` value...

[2016-07-14 04:53] jessegreenberg commented on #74
Value b seems to be in similar ranges for both platforms.  Out of all of this, I was hoping that intermediate values in https://github.com/phetsims/rutherford-scattering/issues/74?_pjax=%23js-repo-pjax-container#issuecomment-232553785  would be obviously wrong when an error occurs.

[2016-07-14 19:15] jessegreenberg commented on #74
For the setting of min energy with max number of protons, we hit error 172 on chrome and tablet when a particle is removed.

[2016-07-15 15:59] jessegreenberg commented on #74
The current implementation will not guarantee that particles remain in the space for the lifetime of the trajectory, especially for multiple deflections.

But perhaps the model can be changed to produce the entire trajectory on creation of the alpha particle.  If the trajectory fails, a we try to create a new trajectory from a different location.  We can create trajectories with an x position offs

[2016-07-18 22:02] jessegreenberg commented on #74
@ariel-phet and I discussed this today.  After reviewing behavior on iPad2, @ariel-phet decided that it was OK to to set this as priority deferred for this release.  The behavior does not interfere with the learning goals of the sim.

I tested the sim on an iPad Air 2, and the performance is excellent, particles disappear with less frequency than on iPad2.

[2016-07-18 22:35] jessegreenberg commented on #74
https://github.com/phetsims/rutherford-scattering/commit/da882a036381911aa16513937c25fcabcfe5189e Is an initial stab at the implementation of https://github.com/phetsims/rutherford-scattering/issues/74#issuecomment-232992868, but it will require a lot more work.

Notes if we decide to revisit work in this issue:
In https://github.com/phetsims/rutherford-scattering/commit/da882a036381911aa16513937c

[2016-07-18 23:32] jessegreenberg commented on #78
@phetsims/dave-underwood I think we are ready to proceed with this.  Assigning to you.

[2016-07-18 23:56] jessegreenberg commented on #78
@schmitzware I also just updated model.md and implementation-notes.md.  Hopefully implementation-notes.md has a concise overview of the changes to the implementation.  If you have any questions please let me know.

[2016-07-19 18:10] schmitzware commented on #78
PhET code-review checklist
=============

**Build and Run Checks**

- [ ] Does the sim pass lint?
- [ ] Does the sim build without errors?
- [ ] Does the sim start up? (requirejs and built versions)
- [ ] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [ ] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')

**Strings**
- [ ] Are there

[2016-07-19 19:03] schmitzware opened #82 "Dependencies in package.json not the same as js/*-config.js"
This is from the checklist and might just be my not understanding things but I thought I'd list it.

Feel free to close it if that's the case.

[2016-07-19 19:31] schmitzware opened #83 "ParticleLegendPanel.js: function documentation needed"
[code]

[code]

[2016-07-19 19:35] schmitzware opened #84 "ParticleSpaceNode.js: function documentation needs update"
[code]

[2016-07-19 19:38] schmitzware opened #85 "RSControlPanel.js" function documentation needs update"
[code]

[2016-07-19 19:43] schmitzware opened #86 "Design: Should gun beam width and tiny box size match"
Seems like box size on the gold foil should be resized to match the beam width. If the beam represents the larger area, then the exposed area on the gold foil (which is the zoomed sim area) should be larger.

![screen shot 2016-07-19 at 12 41 19 pm](https://cloud.githubusercontent.com/assets/694045/16964021/243eae1a-4dae-11e6-8a4d-91002e37550a.png)

[2016-07-19 19:48] schmitzware opened #87 "rutherford-scattering-main.js: Take some credit, Jesse"
softwareDevelopment: 'Dave Schmitz, Chris Malley',

[2016-07-19 19:53] schmitzware opened #88 "RutherfordNucleus.js: add documentation on when no unlink/dispose are needed."
Seems like this issue has popped up in discussions and added recently added to the checklist:

Kinda seems like overkill to me if there's no memory leaks (which there are not) but I thought I'd mention it. There's most likely other files where this is relevant as I believe this came up after I did the original JS version.  I'll just assume this issue covers those and leave it up to you to decide i

[2016-07-19 19:54] schmitzware opened #89 "AtomCollectionNode.js: function documentation needs update"
[code]

[2016-07-19 19:56] schmitzware opened #90 "AtomCollectionNode.js: variable needs access clearification (@public, read-only, etc)"
[code]

[2016-07-19 20:06] schmitzware opened #91 "RutherfordNucleusNode.js: function documentation needed"
[code]

[2016-07-20 17:32] amyh-phet opened #92 "Projector view?"
Hate to bring this up so late in the game, but do we need to incorporate a projector mode for RS?   When Steele was working on a video for BCCE, he recorded a clip from RS and we noticed it was really hard to see the alpha particles and traces on all screens.  It was also hard to see the electron energy levels on the atom view scene.

Thoughts @ariel-phet  and @jessegreenberg?

[2016-07-20 17:37] phet-steele commented on #92
Some words in the panels were hard to see, too, like the "Protons" label for the sliders.

[2016-07-20 18:16] ariel-phet commented on #92
@amyh-phet good thought...I think this is actually not too bad. I believe @jonathanolson set things up in molecule shapes in a way that is pretty easily generalized/copied.

@jessegreenberg when you get a chance can you investigate and use molecule shapes as a template?

[2016-07-20 19:08] jessegreenberg commented on #92
Sure, I will take a look.

[2016-07-20 19:13] jessegreenberg commented on #86
@schmitzware that makes sense to me, @amyh-phet and @ariel-phet since this is a design question you you agree?

[2016-07-20 19:34] amyh-phet commented on #86
@jessegreenberg  The little box on the gold foil is meant to convey that the view is looking only at a small portion of the sample.  I don't think the beam width needs to match the size of the little box that represents what we are viewing.  I do think it looks a bit odd to have the beam size change between the two views on the Rutherford screen.  I know we were trying to convey an idea of viewing

[2016-07-20 19:40] ariel-phet commented on #86
Two things:

1. I would be fine with not changing the beam diameter (but still varying the shading to convey intensity)

2. I would adjust the dashed lines so they go to the center on the top and bottom of the small box, that seems to be more standard when I do a google image search for conveying a "zoomed" view

[2016-07-20 19:50] amyh-phet commented on #86
@jessegreenberg   Let's do the following:

1) Keep beam diameter consistent across all screens (so size of beam would need to be increased on Rutherford screen, nucleus view).

2) Keep beam shading/intensity as currently implemented. (Beam is lighter on Rutherford screen, atom view and Plum Pudding,  more shaded in on Rutherford screen, nucleus view).

3) Adjust the dashed lines so the go to the c

[2016-07-20 20:44] jessegreenberg commented on #86
Here is a new dev version with the change, @amyh-phet could you please review?

http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.9/rutherford-scattering_en.html

[2016-07-20 20:47] jessegreenberg commented on #87
Thanks @schmitzware :) Added.

[2016-07-20 20:47] #87 closed

[2016-07-20 21:01] jessegreenberg commented on #91
JSDoc added.

[2016-07-20 21:01] #91 closed

[2016-07-20 21:06] amyh-phet commented on #86
@jessegreenberg    Looks good on the Rutherford Atom screen.  On the Plum Pudding screen, the beam intensity is too bright.  It should look just like the beam on the Rutherford screen - Atom view.

[2016-07-20 21:07] jessegreenberg commented on #90
Added!  Closing.

[2016-07-20 21:07] #90 closed

[2016-07-20 23:42] pixelzoom commented on #82
Skype discussion:

[7/20/16, 3:27:04 PM] Jesse Greenberg: In the code review checklist  "Are dependencies in package.json the same as js/*-config.js?" - But I generally only see things like 'twixt' or 'shred' in package.json
[7/20/16, 3:27:21 PM] Sam Reid: Which package.json are you looking at, for example?
[7/20/16, 3:28:27 PM] Jesse Greenberg: Rutherford Scattering for the moment, looking at htt

[2016-07-21 02:25] jessegreenberg commented on #82
Thanks for the explanations @samreid and @pixelzoom, and thanks for saving the chat here - I now understand *what* lib would need to go in package.json and why it would need to match *-config.js.

Since rutherford-scattering does use shred, all is well with these files.  Closing.

[2016-07-21 02:25] #82 closed

[2016-07-21 02:42] jessegreenberg commented on #86
Thanks Amy, is this better?

http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.10/rutherford-scattering_en.html

[2016-07-21 02:57] amyh-phet commented on #86
Looks great!

[2016-07-21 02:57] #86 closed

[2016-07-21 13:29] jessegreenberg opened #93 "branch: render-trajectory"
This branch contains an initial stab at the refactoring and work needed for the solution to https://github.com/phetsims/rutherford-scattering/issues/74.

In this branch the particle trajectories are pre-rendered before an alpha particle is created so that they have a fully successful trajectory before they are added to the atom space.  This way no particles will disappear from the space in error.

[2016-07-21 14:02] jessegreenberg commented on #85
JSDoc added, closing.

[2016-07-21 14:02] #85 closed

[2016-07-21 14:05] jessegreenberg commented on #89
JSDoc added, closing.

[2016-07-21 14:05] #89 closed

[2016-07-21 14:26] jessegreenberg commented on #88
I just tested this the memory and it seems that there is a bit of a memory leak at the moment.  The following was observed with fuzzMouse=100.

![capture](https://cloud.githubusercontent.com/assets/6396244/17026279/8f0fffa2-4f2d-11e6-87eb-552f3e84a878.PNG)

[2016-07-21 16:08] schmitzware commented on #88
Interesting..  I actually looked it with just "fuzzMouse" and the memory usage looked good. What's the "100" do?

[2016-07-24 05:22] samreid opened #94 "Should this repo be in active-runnables?"
I was surprised to discover that this simulation wasn't listed in active-runnables. Is it ready for that?

[2016-07-25 16:37] phet-steele commented on #94
@jessegreenberg @schmitzware This sim certainly needs to be in active-runnables. It's very near completion and has been through multiple rounds of QA testing. Thanks @samreid for noticing!

[2016-07-25 16:57] schmitzware commented on #94
I'll leave this up to you, Jesse. Let me know if you need anything from me.

[2016-07-25 18:33] jessegreenberg commented on #94
Thanks all, added!

[2016-07-25 18:33] #94 closed

[2016-07-25 22:19] jessegreenberg commented on #92
Since the plum pudding image has a black background, it will show up with a different color background in projector mode.  @amyh-phet would you mind sending me a new image for the plum pudding goo with a a transparent background?

[2016-07-26 14:38] amyh-phet commented on #92
@jessegreenberg

Here is the plum pudding model (used in the view of the plum pudding screen - shows electrons)
![plum_pudding](https://cloud.githubusercontent.com/assets/13650180/17141957/76df3772-530b-11e6-937a-2b12c3695d65.png)

I wasn't sure if you also needed the image for the legend on the plum pudding screen, so here is the image for the legend (no electrons - just red blob).
![positive_cha

[2016-07-26 21:09] jessegreenberg opened #95 "branch: projector"
Branch for #92.  In this branch, nearly every color can be configured in an iframe to determine good colors for use with a projector.

Once we determine what colors need to change, we should only keep the observers attached to those colors to tidy the view.

Also, keeping in a branch allows us to cleanly investigate #88 at this time.

[2016-07-26 21:31] jessegreenberg commented on #92
Here is a new version with a 'Projector' option added.  We still need to determine the colors for projector mode. @amyh-phet and @phet-steele if you have access to a projector, can you use this version to determine the colors that are best for visibility with a projector?

http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.11/rutherford-scattering-colors_en.html

The pan

[2016-07-26 21:34] jessegreenberg commented on #92
One caveat: If the color of electrons needs to change, we will need to either have a second image for the plum pudding or draw the electrons with Scenery since they are static in the image.

[2016-07-26 21:39] jessegreenberg commented on #88
Yes, it is pretty small.  I noticed a couple possible culprits while going through the sim for #92, and both are related to my new additions. Since this is an issue about documentation, Ill create a new issue to track the leak.

[2016-07-26 21:41] amyh-phet commented on #92
@jessegreenberg   Happy to test with the projector in the office today.  Not sure that @phet-steele has access to a projector right now.

[2016-07-26 21:43] jessegreenberg opened #96 "Memory leak"
This sim is has a a small memory leak which should be addressed before release.  It was found in #88.  Here is a snapshot of the heap (also in that issue)
![image](https://cloud.githubusercontent.com/assets/6396244/17156484/58639658-5347-11e6-9b69-010642b7fa44.png)

While fuzzMouse is running, I see a growing collection or AlphaParticles and VBox's in the heap.  This tells me that the leak is like

[2016-07-26 21:46] amyh-phet commented on #92
@jessegreenberg   What is the best way to communicate final color choice for this screen?

[2016-07-26 21:55] jessegreenberg commented on #92
Thanks @amyh-phet!  Would you mind listing them here by name in the panel in the version above? For instance ```panelLabel = xxx``` and so on?

[2016-07-26 22:01] amyh-phet commented on #92
@jessegreenberg   Happy to do that.  Hexcode the easiest?

[2016-07-26 22:09] jessegreenberg commented on #92
@amyh-phet rgb would be easiest, but whatever is most conveneint.

[2016-07-26 22:18] jessegreenberg commented on #96
I added a test to the step function to toggle the scene property 4 times a second and after 1 minute ~1200 VBoxes were created.

[2016-07-26 22:48] amyh-phet commented on #92
**background = 255, 255, 255**
**radioButtonBorder = 49, 193, 221**
panel = 0, 0, 0   (I honestly couldn't tell what this controlled on any of the screens/scenes)
panelBorder =128, 128, 128
**panelTitle = 0, 0, 0
panelSilder = 0, 0, 0,
panelLabel = 0, 0, 0**
protonsLabel = 185, 50, 8
**neutronsLabel = 125, 125, 125**
atomBeam = 143, 143, 143
**nucleusBeam = 163, 163, 163**
particleSpecularHighligh

[2016-07-26 22:52] amyh-phet commented on #92
@jessegreenberg   Attached is a new file for the atom scene selection button for use in projector mode.  Let me know if you need the AI version of the file.
![atom_scene_selection_button_projector](https://cloud.githubusercontent.com/assets/13650180/17158133/4a2dff6a-5351-11e6-9c91-1fe40ff8a9ef.png)

[2016-07-27 16:59] jessegreenberg commented on #96
Above commit implements dispose in all panels.  This fixes the biggest issue, after creating about 10k control panels, there is no observable memory leak.

I am about to test with fuzzMouse again.

[2016-07-27 17:04] jessegreenberg commented on #92
Thanks @amyh-phet, I will add these in.

Sorry, it doesn't do anything.  I should have double checked the list.

Yes, could you please send the AI file?

[2016-07-27 17:06] amyh-phet commented on #92
@jessegreenberg    Just sent AI file to you via email.  Let me know if you need anything else.

[2016-07-27 18:24] jessegreenberg commented on #96
Memory leak still there, but at a much slower rate.  Here are some heap sizes

0 min - 18.6 MB
5 min - 22.0 MB
10 min - 24.9 MB
15 min - 27.9 MB
~60 min -  52.5 MB

[2016-08-01 20:03] jessegreenberg commented on #92
Projector mode complete with the above commits, @amyh-phet or @phet-steele would you please review and make sure that the colors are correct and look good on a projector?  Here is the latest version:

http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.12/rutherford-scattering_en.html

[2016-08-01 20:04] jessegreenberg commented on #96
I am observing a new memory leak associated with the scene view, likely related to the new color profile from  #92.

[2016-08-01 21:25] jessegreenberg commented on #96
Above commit patches the leak introduced from projector mode.

[2016-08-01 21:54] schmitzware commented on #78
Hey Jesse - should I close this or is there anything you want me to look at again?

[2016-08-01 22:48] jessegreenberg commented on #78
I believe this can be closed if you are satisfied @schmitzware.  Remaining issues regarding documentation and disposing/memory leaks have separate issues.  Thanks for the review!

[2016-08-01 23:14] #78 closed

[2016-08-01 23:24] jessegreenberg commented on #96
I believe the above commit patches the last of the memory leaks.  Profiling for about 15 minutes shows that the memory is not increasing any more.  I will let it fuzz for about an hour tomorrow to be sure.

[2016-08-02 16:00] jessegreenberg opened #97 "Atom properties panel content shifts with use of sliders"
Firist observed after some fuzz testing, but setting the slider thumbs to their min value shifts the content of the panel to the left.  If done repeatedly it is possible to shift the content all the way outside of the panel box.
![capture](https://cloud.githubusercontent.com/assets/6396244/17335667/f7c723fe-5897-11e6-8d1d-9d3c04ca9b11.PNG)

[2016-08-02 16:06] jessegreenberg commented on #97
Content was in a VBox.  Preventing it from resizing fixes the issue.  Closing.

[2016-08-02 16:11] jessegreenberg commented on #83
Documentation added, thanks @schmitzware.

[2016-08-02 16:11] #83 closed

[2016-08-02 16:19] jessegreenberg commented on #84
Updated!  closing.

[2016-08-02 16:19] #84 closed

[2016-08-02 17:05] phet-steele opened #98 "Automated Testing Build Error (8/2/2016 10:13 AM)"
[code]

[2016-08-02 17:10] jessegreenberg commented on #98
Thank you @phet-steele :fearful:

[2016-08-02 17:10] #98 closed

[2016-08-02 17:31] amyh-phet commented on #92
@jessegreenberg   Looking pretty good, but I noticed that the  "Alpha Particle" label below source should be black. Current gray color is hard to see.

[2016-08-02 21:59] jessegreenberg commented on #96
With the latest version of the sim, here are snapshots with fuzzMouse=100 for 80 minutes:

0 min - 17.5 MB
10 min - 20.0 MB
20 min - 20.5 MB
30 min - 20.5 MB
40 min - 20.5 MB
50 min - 20.9 MB
60 min - 21.5 MB
70 min - 21.9 MB
80 min - 21.3 MB

At this rate, I think it is safe to say that there is no longer a noticeable leak.  Closing!

[2016-08-02 21:59] #96 closed

[2016-08-03 16:05] jessegreenberg commented on #92
Sorry about that, here is a new version with that fixed if you would like to take a look.
http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.13/rutherford-scattering_en.html

@amyh-phet anything else to do for this issue?

[2016-08-03 16:09] jessegreenberg commented on #95
Projector color profile added, branch removed.  Closing.

[2016-08-03 16:09] #95 closed

[2016-08-03 16:25] jessegreenberg commented on #88
I added some documentation around observer registrations where disposal is unnecessary and added dispose functions in cases where it might be helpful in the future. Closing.

[2016-08-03 16:25] #88 closed

[2016-08-03 16:27] jessegreenberg commented on #67
This was completed, changes merged. Branch has been removed.  Closing.

[2016-08-03 16:27] #67 closed

[2016-08-03 21:38] amyh-phet commented on #92
@jessegreenberg   Looks great.   Nothing else here, so closing.

[2016-08-03 21:38] #92 closed

[2016-08-04 17:18] jessegreenberg opened #99 "Clean up color profile name and add query parameter"
The property name for projector mode will should be renamed to projectorMode (from projectorColors).  In addition, there was a request to add a query parameter to enable projector mode so that it can be enabled by default from a direct link.

[2016-08-05 17:11] jessegreenberg commented on #99
Done in the commits above, closing.

[2016-08-05 17:11] #99 closed

[2016-08-05 17:12] jessegreenberg commented on #20
Macro view complete! Closing.

[2016-08-05 17:12] #20 closed

[2016-08-05 17:14] amyh-phet commented on #16
Addressed in new version of teacher tips that will be uploaded with HTML5 version of sim.

[2016-08-05 17:14] #16 closed

[2016-08-05 20:37] phet-steele opened #100 "Make panel scaling consistent between all panels"
@jessegreenberg it's good practice to have all grouped panels horizontally scaled to the same width when possible. In other words, if one expands in size, they all need to. This screenshot is with `?stringTest=double` and the Alpha Particle panel is the widest. The other two panels should be expanded to the same width in this case.
<img width="461" alt="screen shot 2016-08-05 at 2 29 39 pm" src="h

[2016-08-05 20:41] amyh-phet commented on #100
@jessegreenberg    If possible, it would be great to keep the panels left aligned and have the width be consistent among all panels.

[2016-08-05 21:36] phet-steele opened #101 "Legend panel does not update on scene change"
The Legend panel does not update when switching between micro and macro view **until** projector mode is toggled on/off. Starting with `?projectorMode` does not matter.
![rs02](https://cloud.githubusercontent.com/assets/5863899/17451398/bc60ec6c-5b23-11e6-84c7-9eb54c237523.gif)

Seen on OSX 10.11.6 Chrome. For phetsims/tasks/issues/667.
Troubleshooting information:
Name: ‪Rutherford Scattering‬
UR

[2016-08-05 22:33] phet-steele opened #102 "No dashed atom outline while changing nucleon counts in projector mode"
While in projector mode, there is no dashed circle to show the changing atom diameter. Instead there is just a blank space. This is an in progress screenshot of me changing the proton count:
![img_0010](https://cloud.githubusercontent.com/assets/5863899/17452084/43069bea-5b29-11e6-8f5f-02991b4545f7.PNG)

This was taken on iOS 10 Beta 3. For phetsims/tasks/issues/667.
Troubleshooting information (d

[2016-08-05 22:35] phet-steele commented on #102
Also seen on OSX 10.11.6 Chrome.

[2016-08-08 17:55] phet-steele opened #103 "Screenshots have transparent background"
The screenshot feature from the PhET Menu. Below screenshot taken on Chrome, and has the same result between micro/macro/plum/projector. You can't tell in the below screenshot, but the original png has the checkered transparency background:
![rutherford scattering screenshot-4](https://cloud.githubusercontent.com/assets/5863899/17490181/d0e44214-5d5e-11e6-9350-2113a69095a4.png)

Seen on OSX 10.11.

[2016-08-08 18:32] phet-steele opened #104 "Able to change proton count without resetting alpha particles"
Steps:
1. Macro or micro view, traces enabled for dramatic effect. Turn on alpha particles.
2. Use finger A to hold down the proton tweaker button.
3. Use finger B to grab the proton slider.
4. Release finger A, continue to slide back and forth with finger B.

Video below shows me using the neutron slider in place of the proton tweakers in Step 2, but it doesn't matter:
https://drive.google.com/fi

[2016-08-08 18:52] phet-steele commented on #97
Occurs in Alpha Particle Energy panel as well with short strings, eg. `?stringTest=X`. For phetsims/tasks/issues/667

[2016-08-08 20:06] jessegreenberg commented on #100
Should be fixed in the commits above.

[2016-08-08 20:44] phet-steele opened #105 "Instantiate particles outside of box"
Small design quip, but I think it would be more pleasing to the eyes if alpha particles were initiated slightly below (outside) of the bounding box. This way they would enter into view smoothly instead of appearing out of thin air in a jolty manner. @jessegreenberg can you make this happen without too much trouble?

For phetsims/tasks/issues/667.

[2016-08-08 23:46] jessegreenberg commented on #103
Setting an explicit fill style for the ParticleCanvasNode boundary rectangle seems to fix this (at least in Win 10 Chrome).

[2016-08-08 23:56] jessegreenberg commented on #104
This is actually an issue for all of the input elements in the control panels (arrow buttons, and all sliders, and scene radio buttons).

[2016-08-09 17:00] jessegreenberg commented on #104
userInteractionProperty is now a derived property with property dependencies on the individual interactions so that the model property is not set until user interaction is finished for all elements.

[2016-08-09 17:02] jessegreenberg commented on #104
Oops, this is still an issue with multitouch for the proton/neutron slider and the proton/neutron buttons pairs respectively.

[2016-08-09 17:25] jessegreenberg commented on #104
Done in commit above, but still need to do radio buttons.

[2016-08-09 20:55] jessegreenberg commented on #104
Should be resolved in the above commits.

[2016-08-09 21:00] jessegreenberg commented on #104
Actually, we want to make sure that the new derived properties haven't introduced a memory leak.

[2016-08-09 21:12] jessegreenberg commented on #104
Yes, significant leak introduced, must have forgotten to dispose or unlink somewhere.

[2016-08-09 21:15] jessegreenberg commented on #104
Leak patched, I accidentally unlinked the wrong property in dispose.

[2016-08-09 21:21] jessegreenberg commented on #105
This is not just for particles entering the space.  Particles leaving the space exit when they are about halfway out of the bounds.

[2016-08-09 21:25] jessegreenberg opened #106 "Arrow buttons active when there are max/min nucleus"
Due to the resolution of the slider, it is possible for the right and left push buttons to be active even when the number of nucleons are at the limit.
![capture](https://cloud.githubusercontent.com/assets/6396244/17534213/590cd886-5e45-11e6-9ade-3d607278d421.PNG)

There are 100 protons, but the slider is not quite at the edge of the track, so the right push button is still enabled.

[2016-08-09 22:39] jessegreenberg commented on #106
The value is rounded to the nearest int (via Util.roundSymmetric).  Using constrainValue function option felt too jagged during the drag, so this just snaps it to an integer on release and the result feels pretty smooth.  Thanks for pointing this this out @phet-steele.

[2016-08-09 22:56] jessegreenberg opened #107 "Create screenshot for deployment"

[2016-08-10 20:52] phet-steele commented on #103
Fixed on the device it was originally seen on.

[2016-08-10 20:52] #103 closed

[2016-08-10 20:54] phet-steele commented on #101
Fixed, closing.

[2016-08-10 20:54] #101 closed

[2016-08-10 20:56] phet-steele commented on #97
Looks good!

[2016-08-10 20:56] #97 closed

[2016-08-10 20:56] phet-steele commented on #102
Fixed, closing.

[2016-08-10 20:56] #102 closed

[2016-08-10 20:57] phet-steele commented on #105
This looks so great, thanks for doing this @jessegreenberg 😄

[2016-08-10 20:57] #105 closed

[2016-08-10 20:59] phet-steele commented on #100
Looks like this now, thanks @jessegreenberg:
<img width="460" alt="screen shot 2016-08-10 at 2 58 26 pm" src="https://cloud.githubusercontent.com/assets/5863899/17570760/f7e8352a-5f0a-11e6-9f88-249e5d6e7aa2.png">

[2016-08-10 20:59] #100 closed

[2016-08-10 21:04] phet-steele commented on #106
Feels good, thanks @jessegreenberg.

[2016-08-10 21:04] #106 closed

[2016-08-10 21:15] phet-steele commented on #104
Still breaks with this procedure:
1. Start in micro view (works with macro, but I'll assume you start with micro)
2. Use finger A to grab the proton slider
3. Switch to macro view
4. Switch to micro view
5. Move finger A out of the way to make room for finger B to also grab the proton slider
6. Release finger B

[2016-08-15 20:26] jessegreenberg opened #108 "multitouch issues"
Out of https://github.com/phetsims/tasks/issues/675, @phet-steele found some new multitouch issues

1)  Interaction with the control panel while holding down the step button causes #104
2) Pressing reset all while interacting with the control panel will cause #104 once the gun is turned back on

@phet-steele please add to this issue if you find more multi-touch issues.

[2016-08-15 21:15] jessegreenberg commented on #108
The issues listed in the original comment should be fixed, but leaving issue open in case any more come out of phetsims/tasks#675.

[2016-08-15 21:39] phet-steele commented on #108
Performance tested on

Win 10 Chrome
OSX 10.11.6 Chrome
iPad 2 iOS 9.3.4
Chromebook

All good.

[2016-08-16 15:52] jessegreenberg commented on #108
@phet-steele did you find any more multitouch issues?

[2016-08-16 15:55] phet-steele commented on #108
No.

[2016-08-16 15:55] #108 closed

[2016-08-16 15:59] jessegreenberg opened #109 "Nucleus node doesn't always update in Firefox and iPad2"
From phetsims/tasks#675, @phet-steele noticed that the canvas icon node for the rutherford nucleus does not update.  Occasionally, if the slider is quickly dragged, the nucleus is not redrawn and the trace is left in the screen view.
![capture](https://cloud.githubusercontent.com/assets/6396244/17706142/18e2dd70-6398-11e6-8133-584ce5e20e62.PNG)

[2016-08-17 00:01] jessegreenberg commented on #109
The above commit should fix this.  I tested on an iPad2 and Firefox, and I can no longer reproduce this issue.  Leaving open for verification for the next RC.

[2016-08-17 00:02] jessegreenberg commented on #104
Should be fixed in the above commits, leaving open to verify as fixed in the next RC.

[2016-08-17 16:27] phet-steele commented on #104
Verified!

[2016-08-17 16:27] #104 closed

[2016-08-17 16:27] phet-steele commented on #109
@jessegreenberg, myself nor @alynne-phet can reproduce this anymore.

[2016-08-17 16:27] #109 closed

[2016-08-17 20:43] jessegreenberg commented on #107
Screen shot checked in, closing.

[2016-08-18 00:36] ariel-phet commented on #15
@amyh-phet can you check off any of these you were responsible for? (and perhaps put in a date for lead designer sign off, I would assume this is after the projector mode request)

[2016-08-18 20:18] amyh-phet commented on #15
@ariel-phet    Checked off a few items.  I'm working on getting activities transferred over today.  Let me know if I need to do anything for Gooru or Edmodo.   Primer will happen soon.

[2016-08-18 20:47] jessegreenberg opened #110 "Add QA credits"
I forgot to add QA credits in the latest release and they need to be added.  @phet-steele would you please provide the list of names that should go in these credits?

[2016-08-18 20:48] phet-steele commented on #110
Steele Dalton, Amanda Davis, Bryce Griebenow, Andrea Lin, Ben Roberts, Bryan Yoelin

[2016-08-18 22:52] jessegreenberg commented on #110
QA credits have been added in 1.0.1 maintenance release.

[2016-08-18 22:52] #110 closed

[2016-08-26 17:48] ariel-phet commented on #15
@amyh-phet final items are for you, removing my assignment

[2016-08-29 19:35] pixelzoom opened #111 "adjust touchArea options for HSlider thumb"
In https://github.com/phetsims/sun/issues/254, the touchArea defaults for HSlider thumb were changed so that they default to pixels, not a percentage of the thumb size.  Sims that use HSlider's `thumbSize` option will therefore need to also specify `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation`.

[2016-08-30 18:52] schmitzware commented on #111
I just pulled all and took a look at this. Still seems reasonable.

![screen shot 2016-08-30 at 11 51 19 am](https://cloud.githubusercontent.com/assets/694045/18102649/260b1c22-6ea8-11e6-85c2-a3fd9ac444ca.png)

[2016-08-30 20:03] pixelzoom commented on #111
Possible collision with the "Traces" check box?

[2016-08-30 20:14] schmitzware commented on #111
Right..  just curious.. why doesn't the checkbox show the touch area? Is it always just the box or does it only show if it's been changed from the defaults?

[2016-08-30 20:17] pixelzoom commented on #111
touchArea and mouseArea are only shown if they have been explicitly set. They default to the Node's bounds. In the case of a CheckBox, the bounds includes the box and the label to the right of it.

[2016-08-30 20:17] schmitzware commented on #111
gotcha.. thanks.

[2016-08-30 21:14] schmitzware commented on #111
How's this?

![screen shot 2016-08-30 at 2 12 44 pm](https://cloud.githubusercontent.com/assets/694045/18107233/019dd2b2-6ebc-11e6-9311-0226825f7e0c.png)

[2016-08-30 21:50] pixelzoom opened #112 "AlphaParticlePropertiesPanel constructor doc"
Noticed while participating in https://github.com/phetsims/rutherford-scattering/issues/111 ...

Doc for AlphaParticlePropertiesPanel constructor is being flagged as incorrect by IDEA. Parameter `showTracesProperty` doesn't exist, doc for parameter `content` is missing.

[code]

[2016-08-30 21:52] pixelzoom commented on #111
Seems OK.  If it were me, I'd probably add a little vertical space between slider and check box.

[2016-08-30 22:00] schmitzware commented on #112
Passing this to Jesse.. I did my IDEA formatting time before handing it off.. ;)

[2016-08-30 22:07] schmitzware commented on #111
3rd times a charm?

![screen shot 2016-08-30 at 3 05 28 pm](https://cloud.githubusercontent.com/assets/694045/18108894/64b958d8-6ec3-11e6-8ce6-4a7b62ac56a8.png)

https://github.com/phetsims/rutherford-scattering/commit/b1c8c4de4d5a758eb6f6ca1341cc9d38178afc07

[2016-08-30 22:13] pixelzoom commented on #111
👍 Closing.

[2016-08-30 22:13] #111 closed

[2016-09-01 14:53] jessegreenberg commented on #112
JSDoc fixed above, sorry about that.  Closing.

[2016-09-01 14:53] #112 closed

[2016-09-01 16:35] arouinfar opened #113 "Consider opening the sim in the atomic view"
During status, Robert reported about using Rutherford Scattering in class. He and the students thought the atomic view (showing several atoms) was a more natural starting point than the nuclear view. Assigning to @amyh-phet for consideration.

[2016-09-01 16:48] ariel-phet commented on #113
@amyh-phet if we make this change, we should also flip the vertical order of the scene selection

[2016-09-01 21:12] amyh-phet commented on #113
@ariel-phet    The chemist in me loves this change.   Would this be back to @jessegreenberg for implementation?

[2016-09-01 21:19] amyh-phet commented on #113
@jessegreenberg   Looks like you are off the hook!    Assigning to @pixelzoom.   Can we do the following:

1) Rutherford atom screen opens to Atom scene.
2) Move scene selection buttons so that Atom is at top and Nucleus is second.

[2016-09-01 21:31] pixelzoom commented on #113
Done. Published in maintenance release 1.0.2.  @amyh-phet please verify and close.

https://phet.colorado.edu/sims/html/rutherford-scattering/latest/rutherford-scattering_en.html

[2016-09-01 23:08] amyh-phet commented on #113
Looks great.  I think it will take me longer to change the Teacher Tips in powerpoint than it took you to change the sim!

[2016-09-01 23:08] #113 closed

[2016-09-02 06:12] kathy-phet commented on #113
I checked out the live version and it looks good to me! Thanks.

[2016-09-06 16:16] phet-steele commented on #107
@jessegreenberg after the changes in #113, the screenshot is out of date. Can we get a new one at some point? 😄

[2016-09-14 14:38] ariel-phet commented on #107
@jessegreenberg pinging on this.

[2016-09-14 14:39] ariel-phet commented on #107
@phet-steele can you send @jessegreenberg a new screenshot....or you have the power to just put it up on github yourself.

[2016-09-14 14:58] jessegreenberg commented on #107
I can go to campus and do this today, this requires an iPad3 and to go through step 1 of "To publish a public version" here https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md

[2016-09-14 15:02] ariel-phet commented on #107
@jessegreenberg actually sounds like @mattpen can do this manually. I will have @phet-steele get him a screenshot. Unassigning you.

[2016-09-14 15:20] jessegreenberg commented on #107
Excellent, thanks.  @phet-steele will still need to do this to generate the screenshot:

[2016-09-14 16:53] phet-steele commented on #107
@amyh-phet may you comment about what should be in the screenshot now? Even though macro view is fronted in the sim, I don't feel it is worthy to be a screenshot. It's smaller, messier, and busier than micro view.

Some unedited comparisons, brought down to approximate size:

<img src=https://cloud.githubusercontent.com/assets/5863899/18521345/f5d867fe-7a68-11e6-837b-081e2042a46d.PNG width="300" h

[2016-09-14 18:40] amyh-phet commented on #107
@phet-steele    I agree that the macro view is really cluttered and doesn't make a great screen shot.  I like the second screen shot with the nuclear view.  Thanks for getting this updated.

[2016-09-14 20:09] jessegreenberg commented on #107
We may as well generate a new README for the repo too once the screenshot is updated.

[2016-09-14 21:21] jessegreenberg commented on #107
Since the build server resizes the images automatically, I will need to do a maintenance release for this.

[2016-09-14 22:33] jessegreenberg commented on #107
The readme pulls directly from github so it is already up to date.

[2016-09-14 22:47] jessegreenberg commented on #107
Done, new screenshot visible on the site.

[2016-09-14 22:47] #107 closed

[2016-10-18 18:42] phet-steele opened #114 "Automated Testing Sim Error (10/18/2016 10:00 AM)"
[code]

[2016-10-18 19:12] phet-steele opened #115 "Automated Testing Sim Error (10/18/2016 10:00 AM)"
[code]

[2016-10-18 21:33] jessegreenberg commented on #114
Caused by shred commit a2daac9da9523bc8bc73bf8aa1d12854e3d6db53.

[2016-10-18 21:34] jessegreenberg commented on #115
Caused by shred commit a2daac9da9523bc8bc73bf8aa1d12854e3d6db53

[2016-10-18 21:37] jessegreenberg commented on #114
Home screen icon bounds are undefined.

[2016-10-18 21:42] jessegreenberg commented on #114
It is because these are getters for property values.
[code]

[2016-10-18 21:44] jessegreenberg commented on #114
Using get() removes error, but icons are ivisible.

[2016-10-18 21:49] jessegreenberg commented on #114
Same issue for shred nucleons, with position and zLayer, getters need to be replaced with zLayerProperty.get() and so on.

[2016-10-18 21:51] jessegreenberg commented on #114
Almost.  Now the icon is composed entirely of protons.

[2016-10-18 21:56] jessegreenberg commented on #114
Fixed! Thanks @phet-steele.

[2016-10-18 21:56] #114 closed

[2016-10-18 21:57] jessegreenberg commented on #115
Fixed, thanks @phet-steele.

[2016-10-18 21:57] #115 closed

[2016-10-31 21:03] pixelzoom opened #116 "Replace getQueryParameter with QueryStringMachine"
Factored out of https://github.com/phetsims/query-string-machine/issues/15

[2016-10-31 21:16] #116 closed

[2016-11-10 20:08] jessegreenberg opened #117 "RSColors should use ColorProfile"
From phetsims/scenery-phet#278, RSColors uses a unique implementation for color profiles, and it should use the common approach in ColorProfile.

[2016-11-11 21:28] jessegreenberg commented on #117
Done in the commits above.  RSColors was renamed to RSColorProfile, and it uses the common ColorProfile component.  Usages of RSColorProfile uses Property API instead of PropertySet since ColorProfile is going to PropertySet with Property soon.

[2016-11-11 21:28] #117 closed

[2016-12-05 16:34] jessegreenberg commented on #74
Deferred so removing assignment.

[2017-03-15 22:09] amyh-phet commented on #15
Primer uploaded.

[2017-03-15 22:09] #15 closed

[2017-04-04 22:52] pixelzoom opened #118 "fails stringTest in Options dialog"
With `?stringTest=xss`, it's apparent that the Options dialog's content has no `maxWidth`.

If doing a maintenance release, you need to pickup the fix for the "Options" title in https://github.com/phetsims/joist/issues/416.

[2017-06-15 17:01] jessegreenberg opened #119 "Replace PropertySet with Property"
From phetsims/axon#102, PropertySet is deprecated and should be replaced with Property.

[2017-06-15 17:18] pixelzoom commented on #119
Some things that I noticed related to this:

(1) `Atom.reset` is calling `PropertySet.reset`, but it's not a `PropertySet`.  You can likely just remove this call.

(2) `RGBBaseModel.reset` should be calling `this.gun.reset`, not `this.gun.onProperty.reset`.

[2017-06-15 20:26] jessegreenberg commented on #119
Great, thanks @pixelzoom Ill watch for these as we proceed with this issue.

[2017-06-28 22:55] jessegreenberg commented on #119
Done in the above commits. Closing.

[2017-06-28 22:55] #119 closed

[2017-07-20 15:57] phet-steele opened #120 "Projector mode, Maximum call stack size exceeded"
Simply enable projector mode in the options. If done on the first screen, you will see the scene selection buttons disappear.

[code]

[2017-09-19 23:55] jessegreenberg opened #121 "Add keyboard navigation to this sim"
We would like to add keyboard navigation to this sim. @mbarlow12 would you please work on this one?  When  I use the ?accessibility query param, it looks like only the particle gun is not focusable. Lets try the following focus order to start:

First screen:
- alpha particle gun
- energy slider
- traces check box
- proton/neutron number controls
- scene radio buttons
- play/pause buttons
- reset b

[2017-10-03 17:02] mbarlow12 opened #122 "Uncaught RangeError: Maximum call stack size exceeded"
Open the sim in either screen, open the console, and switch to projector mode. The following error is then thrown
[code]

[2017-10-03 17:06] mbarlow12 commented on #122
@jessegreenberg I noticed that you're the responsible dev for this one. Let me know if you'd like me to take a swing at this while I'm working on keyboard nav. Since I just finished the projector mode for CL, this may be relatively similar.

[2017-10-03 17:15] phet-steele commented on #122
Hiya @mbarlow12, see #120. Now worries!

[2017-10-03 17:15] #122 closed

[2017-10-03 18:44] jessegreenberg commented on #120
This is happening  because of disposal issues in ```RectangularButtonView``` and ```RadioButtonGroup```.  RectangularButtonView has an ```AlignBox``` that adds bounds listeners to the content and RectangularButtonView does not dispose its ```AlignBox```.  ```RadioButtonGroup``` creates new ```RectangularButtonViews```, without disposing the old ones.  When we create a new ```RadioButtonGroup``` fo

[2017-10-03 19:08] jessegreenberg commented on #120
The above commits fix this issue.

[2017-10-03 19:08] #120 closed

[2017-10-04 19:14] mbarlow12 opened #123 "Sliders not functioning properly for keyboard nav"
The controls in the Atom panel appear to have odd behavior under keyboard navigation.

- The proton slider becomes stuck if trying to use the shift + arrow keys. All other interactions appear normal

- The neutron slider will increase its value under normal arrow key operations but halt when trying to decrease the value. It also has the same shift behavior as the proton slider.

[2017-10-04 19:14] mbarlow12 commented on #121
Focus order and LaserPointer are all working properly. But there's some strange behavior in the sliders. See https://github.com/phetsims/rutherford-scattering/issues/123.

[2017-10-05 01:02] jessegreenberg commented on #123
@mbarlow12 I think the problem is related to the default step sizes in HSlider and that  the sliders have custom endDrag functions that limit the values.  The default step sizes don't produce integer values in this sim so the endDrag listeners are rounding the value back to an integer value so they seem stuck. Could you please try changing the keyboardStep and shiftKeyboardStep for each slider?

[2017-10-05 16:52] mbarlow12 commented on #123
Can do @jessegreenberg. Do you think they should be arbitrary values or range based increments?

[2017-10-05 16:59] jessegreenberg commented on #123
Hmm, not sure. Perhaps values that conform to the rounding applied in endDrag listeners?
[code]

Arbitrary integer values might accomplish that, but if they can be based on the ranges that would also  be nice.

[2017-10-05 17:09] #123 closed

[2017-10-05 17:12] mbarlow12 commented on #123
Set the steps as follows:
- Default: 5
- Shift: 1
- Page Up/Down: 10

[2017-10-05 17:16] mbarlow12 commented on #121
Pushed fix for #123. Closing for now.

[2017-10-05 17:16] #121 closed

[2017-10-05 19:07] jessegreenberg opened #124 "continuous testing error"
[code]

Must be from https://github.com/phetsims/axon/issues/140.

[2017-10-05 19:22] jessegreenberg commented on #124
Caught a typo in RadioButtonGroupMember dispose! Fixed in the above commit, closing.

[2017-10-05 19:22] #124 closed

[2017-10-19 19:02] terracoda opened #125 "Keybaord Navigation testing results"
Now Testing Keyboard Nav for Built Version

**Firefox 56 on Mac OsX Sierra 10.12.3**
- Focus order good: Alpha Particle Source button, Alpha Particle Slider, Traces checkbox, Protons Left Arrow, Protons Right Arrow, Protons Slider, Neutrons Left Arrow, Neutrons Right Arrow, Neutrons Slider, Radio Button Group, Play/Pause button, Reset, PhET Menu button.
- Scene Selection buttons operable with arro

[2017-10-19 19:04] terracoda commented on #125
@mbarlow12 should I be testing the 1.0.6-rc.1?

[2017-10-19 19:14] terracoda commented on #125
In 1.0.6-rc.1 version

FF
Same issues EXCEPT
- radiobutton group is keyboard focusble and operable with arrow keys.
- Tab order starts with Reset, then goes to radios, then to rest of controls
- Home Screen Button is focusable
- Sim Screen button are operable
- [ ] Sim Screen button focus highlight stays around on the Home Screen when I select the Home Screen button from within the either of the s

[2017-10-19 19:18] jessegreenberg commented on #125
@terracoda 1.0.6 is the version that was deployed publicly to the PhET website, and 1.0.6-rc.1 was the release candidate that was QA tested.  More robust keyboard navigation has been added since then, can you please test to see if this is an issue for master? If you cannot VPN into phettest we can deploy a dev version, just let us know.

[2017-10-19 19:20] terracoda commented on #125
Thanks @jessegreenberg.  I did go through the VPN and went to the Dev link. Is that not the way to get the latest version of something? Which link am I suppose to go to on phettest?

[2017-10-19 19:27] terracoda commented on #125
OK, I think I am just supposed to click on the sim name. No wonder I haven't been able to find the latest for other sims :-P

[2017-10-19 19:29] jessegreenberg commented on #125
That is correct @terracoda, the sim name on the left is a link to latest.

[2017-10-19 20:13] terracoda commented on #125
@mbarlow12 and @jessegreenberg, I tested the Built version. Keyboard Nav seems like it is working as it should. I have questions about the Tweaker/Sliders, and I found a weird bug: Pressing and holding any of the sliders makes the interactive content disappear and not come back.

[2017-10-19 20:19] jessegreenberg commented on #125
Thanks, how strange! I just reproduced that myself, Ill create a new issue for that.

I see notes related on the meeting doc, should considerations continue there or are there other comments for this issue?

[2017-10-19 20:21] jessegreenberg opened #126 "Pressing and holding sliders with keyboard makes particles dissappear"
Found in #125.

[2017-10-19 20:24] terracoda commented on #125
We can discuss the tweaker/slider stuff at the KB nav meeting. I think it is a very general issue.

And what about the zig zagging. Is that supposed to happen when using the tweakers? I would think yes.

[2017-10-19 20:29] jessegreenberg commented on #125
No, thanks, that is also an issue. Any time the tweakers are pressed all particles should reset and disappear, i will update the new issue.

Thanks @terracoda continuing with the  specifics in #126,  closing this issue.

[2017-10-19 20:29] #125 closed

[2017-10-19 20:29] jessegreenberg commented on #126
Also, keyboard interaction with the tweaker buttons doesn't reset particles.

[2017-10-19 20:48] jessegreenberg commented on #126
The problem with the sliders is the `removeFinger` and `addFinger` functions that are in place to fix multitouch issues.

[2017-10-19 21:03] jessegreenberg opened #127 "Keyboard interaction with tweakers doesn't reset particles"
From #125.

[2017-10-19 21:06] jessegreenberg commented on #126
Thanks for catching this @terracoda, should be fixed with the above commit.

[2017-10-19 21:06] #126 closed

[2017-10-19 21:20] jessegreenberg commented on #127
Thanks for catching this @terracoda, should be fixed in the above commit.

[2017-10-19 21:20] #127 closed

[2017-10-20 09:49] terracoda commented on #127
Glad I noticed something after testing the wrong version :-)

[2017-10-24 21:08] zepumph opened #128 "Convert to NumberControl"
In https://github.com/phetsims/scenery-phet/issues/341 we added keyboard nav to number control. It would be nice to convert to use this common code component since it is visually the exact same as Plinko probability, then we would get keyboard nav for free.

RS:
![image](https://user-images.githubusercontent.com/6856943/31968028-44b25190-b8bc-11e7-8194-ac6b48f6465b.png)

Plinko (with some sweet fo

[2017-10-24 21:48] ariel-phet commented on #128
@zepumph seems reasonable to me as long as you can pretty much keep the layout and such like the original

[2017-10-25 16:49] zepumph commented on #128
In converting to NumberControl. I think that we will loose multitouch capabilities. I believe I can add that to NumberControl though, seeing as I have an implementation to base it off of. @jessegreenberg how important is multitouch in RS?

[2017-10-25 16:58] jessegreenberg commented on #128
I think most of the code related to multitouch was added to fix this issue: https://github.com/phetsims/rutherford-scattering/issues/104.

The fix goes through `startDrag` and `endDrag`, does NumberControl not support those?

[2017-10-25 16:59] jessegreenberg commented on #128
Ah, is it because NumberControl calls `startCallback` for both the buttons and the slider and we want the listener to only be called for the slider?

[2017-10-25 17:10] zepumph commented on #128
I think I'm going to update NumberControl to support a single `startCallback` OR individual callbacks for each interactive property. So a start/end for (a) left arrow (b) right arrow (c) slider.

[2017-10-25 17:11] zepumph commented on #128
We want a specific callback for the slider, and a different one for the arrows.

[2017-10-25 17:14] jessegreenberg commented on #128
Got it, thanks.  Here were the steps that broke things with these sliders initially:

Use finger A to grab the proton slider
Switch to macro view
Switch to micro view
Move finger A out of the way to make room for finger B to also grab the proton slider
Release finger B

It is also possible that the fix added in #104 for this set of issues is no longer necessary, I think that a general fix was adde

[2017-10-26 22:01] zepumph commented on #128
Thanks @phet-steele for helping with this. @jessegreenberg he was able to test for that bug, removing the multitouch implementation, and it was still present. I think that we will need to keep this support, which pretty much doubles this type, and adds some gunk to NumberControl also, since we need to be able to attach specific callbacks to each component. It makes NumberControl very powerful, but

[2017-10-26 22:23] zepumph commented on #128
@jessegreenberg one more important thing that I forgot to mention. Currently the multitouch implementation doesn't work for keyboard navigation. To cause the bug, highlight the slider and then hold down right and then press the left key. I'm not sure how to go about solving this.

[2017-10-26 22:23] zepumph commented on #128
Note that this was a problem before the conversion to `NumberControl`

[2017-11-21 06:21] jessegreenberg opened #129 "change keyboard navigation order"
Navigation goes from reset all button to atom and particle controls. ResetAllButton should be last.

[2017-11-21 06:26] jessegreenberg commented on #129
Its good on initialization,  wrong after changing scene.

[2017-11-21 06:30] jessegreenberg commented on #129
Also probably needs to be re set when color profile changes.

[2017-11-21 06:39] jessegreenberg commented on #129
Ah, it looks like the problem  is with using `unshift`, because it doesn't go through the setter in Node, `setAccessibleOrder`.

[2017-11-21 06:47] jessegreenberg commented on #129
Fixed in above commits.

[2017-11-21 06:47] #129 closed

[2017-11-21 17:44] amanda-phet opened #130 "inconsistent light perspective"
I just noticed that this button has a light perspective from the bottom left, which is inconsistent with the other buttons in this sim and all of our sims.
![screen shot 2017-11-21 at 10 42 12 am](https://user-images.githubusercontent.com/7852916/33087758-c0ea2812-cea8-11e7-918b-13d9690ac639.png)

It should be changed so the light is coming from the top left, like these buttons:
![screen shot 2017

[2017-11-21 18:01] zepumph opened #131 "Adjust scene selection radio buttons to make them more accessible"
In the keyboar nav meetings in the last few weeks, we have been working on/discussing designs for what to do with the "atomic" vs "nuclear" scale radio buttons. This is what they look like right now:
![image](https://user-images.githubusercontent.com/6856943/33088228-89a4ea36-ce99-11e7-9476-84b9555ee174.png)

The main problem is that for keyboard nav, radio buttons aren't tabbable between them, yo

[2017-11-21 18:08] zepumph commented on #131
Assigning to @terracoda for design

[2017-11-21 18:10] jessegreenberg commented on #131
Group decision for  11/21/17:

For now in rutherford-scattering, we will add a thin pink highlight around the radio buttons when one button has focus. We will do that here for now without adding general support for this. This will get us through publication of this sim. We will have a more broad discussion about this group focus highlight at a later date.

[2017-11-21 18:10] zepumph commented on #131
@emily-phet's final thought was that the best way to proceed is with treating these as radio buttons, and try to convey the queues/grouping with design/layout.

[2017-11-21 19:20] jessegreenberg commented on #130
Fixed in the above commit, here it is in master:
![capture](https://user-images.githubusercontent.com/6396244/33092074-469817f0-ceb6-11e7-97c4-8778e469b2cf.PNG)

[2017-11-21 19:20] jessegreenberg commented on #130
Closing.

[2017-11-21 19:20] #130 closed

[2017-11-30 22:20] jessegreenberg commented on #131
Design meeting 11/30/17:

For this sim, we decided to add a thin highlight like our number control to indicate 'group' interaction that is manipulated with arrow keys.  We will have additional discussion about whether this is a long term solution. If a long term solution, we should discuss where and how this is applied.

[2017-11-30 22:57] jessegreenberg commented on #131
Additional post-meeting notes:

In this meeting, we had a lengthy discussion about the challenges with scene selection buttons and how they should be represented visually and for AT. We went back and forth but did not yet come to a long term conclusion. Here is a collection of thoughts:

- We like the idea of a 'group highlight' that indicates that arrow keys are to be used to interact with the it

[2017-12-12 20:11] jessegreenberg commented on #131
There was more discussion in an a11y meeting today, notes taken in keyboard navigation design document.

[2017-12-12 20:54] jessegreenberg commented on #131
After the meeting today, it sounded like for radio buttons we still like the idea of a group focus highlight, and a first pass at implementation happened in https://github.com/phetsims/scenery/issues/708

@terracoda @emily-phet @arouinfar @amanda-phet @zepumph @oliver-phet can you please review how this looks in
https://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.1.0-dev.2/ruthe

[2017-12-12 21:22] zepumph commented on #131
At first glance it is hard to parse out the difference between the two boxes. I think that having the grouping highlight for the scene selection buttons (and for the number control to a lesser extent too) could be a bit lighter/less opaque. This will help the two differentiate.

[2017-12-12 22:08] oliver-phet commented on #131
It looks to me that the focus highlight on the radio buttons is a pixel or two "tighter" to the group focus highlight.
Here's the number control:
<img width="71" alt="screen shot 2017-12-12 at 3 04 42 pm" src="https://user-images.githubusercontent.com/5090275/33911019-0dcf6006-df4e-11e7-9ff0-5d15db12b320.png">
And the group:
<img width="73" alt="screen shot 2017-12-12 at 3 04 52 pm" src="https://u

[2017-12-12 22:25] arouinfar commented on #131
I also find it a bit hard to distinguish the focus highlights around the radio buttons, but I think @oliver-phet's suggestion to increase the padding a bit to be on par with the number control may alleviate the situation. Otherwise, the navigation is feeling good.

[2017-12-29 23:32] jessegreenberg opened #132 "NumberControls should be centered in panels"
Noticed in an a11y meeting, the NumberControls aren't centered in the panels. In this screenshot,  one can see  they are left aligned with the panel titles.
![capture](https://user-images.githubusercontent.com/6396244/34449462-bb7aa836-ecb5-11e7-9a5c-c12ae6ae588b.PNG)

Would be nice to center NumberControls in panels before next deploy.

[2018-01-05 01:00] jessegreenberg opened #133 "Atom properties controls do not reset"

[2018-01-05 01:01] jessegreenberg commented on #133
Probably from #128

[2018-01-05 01:04] jessegreenberg commented on #133
No, it looks like this might have been introduced in the conversion from PropertySet to Property.

[2018-01-05 01:11] jessegreenberg commented on #133
Fixed in the above commit. A reset function was not necessary for the plumb pudding screen.

[2018-01-05 01:11] #133 closed

[2018-01-05 19:57] jessegreenberg commented on #132
Assigning to myself to look into  or delegate depending on timeline.

[2018-01-05 20:00] jessegreenberg commented on #131
From the above comments and comments during a a11y keyboard nav meeting, we would like to dilate the bounds around the outer highlight surrounding the radio buttons.

[2018-01-05 20:01] jessegreenberg commented on #118
This sim will be redeployed off of master, assigning to myself to make sure this was addressed.

[2018-01-08 21:53] oliver-phet opened #134 "User suggestion: histogram borders"

[2018-01-18 20:22] jessegreenberg commented on #134
This sim will be redeployed off of master in the near future, @ariel-phet @oliver-phet how would you like to handle this suggestion?

[2018-01-18 20:24] oliver-phet commented on #134
I think this would normally be up to the lead (AH). So AP/KP?

[2018-01-18 20:28] jessegreenberg opened #135 "Assign accessible labels to UI elements"
This sim is likely the next to be deployed with keyboard navigation. @emily-phet @terracoda can you please prioritize/assign working on labels for this sim?

[2018-01-18 20:29] jessegreenberg opened #136 "Keyboard help dialog for this sim"
Since this sim is likely the next sim to be deployed with keyboard navigation it needs a keyboard help dialog. @terracoda @emily-phet can you please assign priority/assign creating content for a help dialog?

[2018-01-18 20:29] terracoda commented on #135
@jessegreenberg, ok will do.

[2018-01-18 23:16] ariel-phet commented on #134
@oliver-phet @jessegreenberg

Although I think this is an interesting suggestion, I think we will not implement it for two reasons:

1. From a practical point of view, we just do not have the bandwidth/time

2. Perhaps more importantly, I am not sure how accurately the model in Rutherford scattering reflects actual experimental results. This sim is made to be more qualitative, and I think adding s

[2018-01-18 23:17] ariel-phet commented on #134
@oliver-phet please let the user know that although this is an interesting suggestion it is beyond the scope of the sim and its current model. Feel free to close.

[2018-01-18 23:21] #134 closed

[2018-01-23 18:20] jessegreenberg opened #137 "Traces should be same color on both atomic and nuclear scenes"
For both views, the traces should be violet on both scenes of the "Rutherford Atom" screen.

[2018-01-23 18:22] jessegreenberg commented on #137
This will clarify that both scenes are emitting the same alpha particles at different intensity.

[2018-01-23 20:41] jessegreenberg commented on #137
Done in the above commit. @arouinfar could you please review this change on master? IMO the violet trace is more difficult to see against the red in the plum pudding screen.

In the nuclear scene of the Rutherford atom screen, maybe a darker color would look  better?  I think it looks better in the atomic scene because the traces become transparent as they fade out.

[2018-01-23 21:44] arouinfar commented on #137
Thanks @jessegreenberg! I don't think we had considered the Plum Pudding screen at all. The contrast between the traces and plum pudding is pretty awful, so I wouldn't  advocate for violet traces on that screen. Perhaps we can leave them gray on the Plum Pudding screen? The two screens represent different models, so perhaps the discontinuity in trace color isn't as important. Thoughts @ariel-phet?

[2018-01-23 22:02] ariel-phet commented on #137
@jessegreenberg @arouinfar yes, I think leaving traces gray on the Plum Pudding screen would be fine.

The traces are sort of "ether" anyhow, representing an idea of the path not an actual physical object, so I think the discontinuity between screens will not be a problem. I think having them them unified on the first screen is an improvement, but I don't think any damage is done leaving them gray

[2018-01-23 23:32] arouinfar commented on #137
Sounds good, thanks @ariel-phet. I'll leave it to you @jessegreenberg.

[2018-01-24 00:04] phet-steele commented on #137
@arouinfar go ahead and review on master if you would please.

[2018-01-24 21:10] arouinfar commented on #137
Looks good to me. Thanks @phet-steele!

[2018-01-24 21:10] #137 closed

[2018-01-25 17:50] jessegreenberg commented on #137
Thanks @phet-steele!

[2018-01-30 02:12] ariel-phet opened #138 "Draft of PDOM Content for Rutherford Scattering (e.g., labels)"
@emily-phet said

[2018-02-03 19:31] emily-phet commented on #131
I believe this was done - @jessegreenberg can you confirm?

[2018-02-03 19:46] emily-phet commented on #135
@ariel-phet Let's use this issue to track progress with the Rutherford Scattering summary/labels/help text.
So far - I drafted an initial structure with placeholders.
@ariel-phet drafted initial content.

@terracoda - let's discuss this briefly this week to give some feedback.
Goal is to iterate and have this complete by Feb. 15th.

[2018-02-03 19:48] emily-phet commented on #136
@arouinfar
Can you take a stab at drafting the content for the keyboard help dialog?
We'd like to have a few iterations and have this complete by Feb. 15th.

[2018-02-06 23:13] arouinfar commented on #136
@emily-phet @terracoda I think this sim will be nearly identical to OL/RIAW, except that the General Navigation section will include information about groups.

**Slider Controls**
Adjust slider [left] [right] or [up][down]
Adjust in smaller steps [shift] + [left] [right] or [shift] + [up][down]
Adjust in larger steps [pg up] [pg down]
Jump to minimum [home]
Jump to maximum [end]

**General Navigat

[2018-02-07 13:25] terracoda commented on #136
And the text version of this is:

[2018-02-07 13:29] terracoda commented on #136
Oops, here's the text version:

[code]

[2018-02-07 13:35] terracoda commented on #136
@arouinfar, I think you are correct, this sim has sliders and a group of radiobuttons. Since no instructions are not needed for buttons and checkboxes, your mock-up covers it.

[2018-02-07 13:40] terracoda commented on #136
@emily-phet, shall I assign to @jessegreenberg for implementation?

[2018-02-09 12:47] emily-phet commented on #136
@terracoda yup, I'll assign to @jessegreenberg and unassign you.

@jessegreenberg - for some time after you return!

[2018-02-15 16:35] terracoda commented on #135
Tuesday this week, @ariel-phet and I met to discuss changes I made to the initial draft. We think we have a solid draft for screen 1. @ariel-phet agreed to apply what we did in screen 1 to screen 2.

[2018-02-15 16:40] terracoda commented on #135
@emily-phet, one thing currently missing from screen 1 is a description of the visual legend. We need to find a place for this in the content flow. It is not interactive, so it may not be relevant at this point.

However, that said, I will make a stab at it. It will be interesting to know how non-visual users respond to a legend that is mostly for visual understanding.

[2018-03-14 00:11] zepumph opened #139 "Create static descriptions"
@jessegreenberg asked me to work on implementing this document before the meeting on Thursday. I'm on it!

https://docs.google.com/document/d/1PxMAm5qjbYn_F8Buo_CH5cZ-Xb6D4ARjrAt3NAc5Kms/edit#

[2018-03-14 21:29] zepumph commented on #139
Everything that is completely static is done, but there are still some dynamic pieces that need to be worked on. I wanted to make sure that I got the static stuff done first. Here is a list of the corners I cut:

* I changed a label, instead of updating the Alpha Particle stream to say "start" or "stop" dynamically, it just always says "toggle"
* The proton and neutron counts for the sliders are n

[2018-05-29 22:22] zepumph commented on #139
@emily-phet what is the status on this? It looks like the design doc only got to the first screen, unassigning myself until it is prioritized again.

[2018-06-22 18:10] jessegreenberg opened #140 "Atomic traces don't work in iPad2"
Just noticed that traces don't show up in "Atomic" scene in "Rutherford Atom" screen. Traces show up  in all other screens/scenes. Traces in this scene fade out so it is probably related to that. This is not an issue in the deployed version of the sim.

[2018-07-24 21:31] jbphet opened #141 "Projector mode crashes sim"
I'm testing sims for support of projector mode, see https://github.com/phetsims/chipper/issues/693, and I found that setting projector mode using either the `colorProfile=projector` or by setting it using the options dialog causes the sim to crash.  Here is a stack trace:

[code]

[2018-07-24 22:33] phet-steele commented on #141
@jbphet @jessegreenberg looks like this is the same thing as #120.

[2018-07-24 23:44] jessegreenberg commented on #141
Thanks @phet-steele, you are right it is the exact same issue. Introduced because`createRadioButtons` in RutherfordAtomScreenView was returning a radio button group wrapped in another Node, so the Node returned can never be disposed.

[2018-07-24 23:49] jessegreenberg commented on #141
Fixed in the above commit. I also added more documentation to createRadioButtons and renamed the button group to indicate the type more strongly so this hopefully wont happen again.

[2018-07-24 23:49] #141 closed

[2018-08-15 20:26] jessegreenberg commented on #140
@KatieWoe if possible, could you please see if this issue shows up on any later generation iPads? I am not certaiin it is specific to iPad2.

[2018-08-15 20:27] KatieWoe commented on #140
Sure.  In master?

[2018-08-15 20:28] jessegreenberg commented on #140
Thanks! Yes please.

[2018-08-15 20:40] KatieWoe commented on #140
I didn't see it on iPad Air 2 iOS 11.4.  I'll check on the iOS 10 device as well.  I'm a bit confused about what screen/scene you mean though.  I saw a trace on all three scenes.

[2018-08-15 20:44] jessegreenberg commented on #140
OK, thanks for checking. It was the first first screen, first scene, the purple fading traces were missing when I last checked on iPad2 after using the "Traces" checkbox.
![capture](https://user-images.githubusercontent.com/6396244/44172185-68ec4800-a0aa-11e8-8778-5a2cf51003e8.PNG)

[2018-08-15 20:45] KatieWoe commented on #140
Ok.  So this s what it should look like, but it doesn't.

[2018-08-15 20:46] jessegreenberg commented on #140
That is correct, on iPad2 it was just the pink circles without the lines.

[2018-08-15 20:50] KatieWoe commented on #140
Just checked iPad4 iOS 10 and I did not encounter this problem.

[2018-08-15 20:51] jessegreenberg commented on #140
Great, thank you. You said

Would you mind checking on a regular iPad2? Perhaps this is gone entirely?

[2018-08-15 21:03] KatieWoe commented on #140
Just tested on iPad 2 iOS 9 and I did find this bug.  Traces are not showing up on the scene indicated.

[2018-08-15 21:10] jessegreenberg commented on #140
Great, thanks.

[2018-08-23 17:14] jessegreenberg commented on #136
This sim is going to be redeployed to deploy off of chipper 2.0 and get other master fixes like the projector mode query parameter. But this will not include a11y. This issue is going to be on hold for a later release, removing my assignment and updating issue title to indicate this.

[2018-08-23 19:31] jessegreenberg commented on #132
It looks like they are off center so that all panel content is generally left aligned, but the spacing of titles make it look like the NumberControls should be centered. By centering, it looks like this:
![master](https://user-images.githubusercontent.com/6396244/44547550-81cbad80-a6e9-11e8-9b27-8ec90955be3a.PNG)

Compared to what it looks like in the published version:
![website](https://user-ima

[2018-08-23 19:31] jessegreenberg commented on #132
This seems like an OK change, almost unnoticeable but I want to make sure, @arouinfar does this seem OK?

[2018-08-23 20:13] arouinfar commented on #132
@jessegreenberg not sure why the numberControls weren't centered to begin with, so I'm definitely on board with this change.

[2018-08-23 21:01] jessegreenberg commented on #132
OK, thanks. Ill commit the change and close.

[2018-08-23 21:06] #132 closed

[2018-08-23 21:33] jessegreenberg commented on #132
Reopening, I notice layout shifts slightly when changing scenes.

[2018-08-23 22:01] jessegreenberg opened #142 "Clean up panel layout"
We have HStruts in the panels to get the layout looking OK, but I am finding this kind of fragile as I work on #132.  I think we can use AlignGroup to really simplify and fix this and #132. Panels are also constructed with `createPanels` in the ScreenView types, and new ones are created every time scene and color profile change, I don't think this is necessary.

[2018-08-23 23:10] jessegreenberg commented on #132
OK, fixed with the above commit,

[2018-08-23 23:11] jessegreenberg commented on #142
This has been cleaned up using AlignGroup, closing.

[2018-08-23 23:11] #142 closed

[2018-08-24 14:33] jessegreenberg commented on #128
This is caused by a flaw in AccessibleSlider, we are calling endDrag every keyup, which I think is too requent. Instead, we should try to call endDrag when all range keys are held up.

[2018-08-24 16:45] jessegreenberg commented on #128
I can no longer reproduce this bug.  For NumberControl, I think this looks good. I agree about the added complexity but the ability to have specific callbacks for component seems like a nice enhancement. The only thing I noticed was that an assertion in validateCallbacksAndSetDefault wasn't correct since normalCallbacksPresent was assigned a function instead of a boolean. @zepumph can you please r

[2018-08-24 20:06] jessegreenberg opened #143 "step button is always enabled"
Found with @zepumph while working on what is very likely an unrelated issue phetsims/scenery#831. The step button is always enabled, it should be disabled when playing.

[2018-08-24 22:55] zepumph commented on #128
This is all very nice. Including the addition of only calling endDrag is all keys are up. How thoroughly have you regression tested that change? I know that it will make things more straightforward for Friction (I was actually going to talk to you about this). I am not convinced that every slider implementation will be so flexible. I think we should create a new issue discussing KeyboardDragListen

[2018-08-24 23:50] zepumph commented on #128
Oops. . . thanks for your patience. Everything above sounds good. I don't think we need to add onKeyUp right now since there is no use for it. I would assume that it will be added at some point though. If you feel differently, please reopen and assign to me for completion. Otherwise we will continue in scenery. Closing

[2018-08-24 23:50] #128 closed

[2018-08-27 14:59] jessegreenberg commented on #143
Handled in https://github.com/phetsims/scenery-phet/issues/388

[2018-08-27 14:59] #143 closed

[2018-08-27 15:37] jessegreenberg commented on #118
This sim is being redeployed out of master which contains this fix. Closing.

[2018-08-27 15:37] #118 closed

[2018-08-29 20:41] arouinfar opened #144 "Create LoL Icons & Descriptions"
For https://github.com/phetsims/QA/issues/181

[2018-08-29 21:29] KatieWoe opened #145 "Boxes on Plum Pudding screen do not line up when stringTest=double"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Firefox
**Problem description:**
For phetsims/QA/issues/181
Related to phetsims/rutherford-scattering/issues/100
When using stringTest=double the Legend and Alpha Particle boxes no longer are aligned at the right edge.  They are when no string test is used, and should remain so per @arouinfar.
**Steps to reproduce:**
1. Set str

[2018-08-30 18:57] KatieWoe opened #146 "Alpha Particle box disappears or turns white in screenshots"
**Device**
Dell Laptop
**OS**
Win 8.1
**Browser**
Firefox
**Problem Description**
For phetsims/QA/issues/181
When taking a screenshot the Alpha Particle box will disappear or turn bright white in the screenshot.  I have so far only observed this on Win 8.1 Firefox, and will document any other instances encountered in the comments.  Most screenshots I have taken on this platform showed the issue, b

[2018-08-30 22:25] KatieWoe commented on #146
Here are screenshots of what the issue looks like in projector mode (found by going to options in the phet menu).
![rutherford scattering screenshot 3](https://user-images.githubusercontent.com/41024075/44882615-527ce980-ac71-11e8-934e-ecf33e7d3f4e.png)
![rutherford scattering screenshot 2](https://user-images.githubusercontent.com/41024075/44882616-527ce980-ac71-11e8-9be9-e5a2f1f87672.png)

[2018-08-30 22:34] KatieWoe opened #147 "Legend Tool Box Contents"
@jessegreenberg
For phetsims/QA/issues/181
Quick design question.  On the first screen in the atomic scale scene, should there be a spot in the legend for the actual alpha particles?  At the moment it just has the "particle trace"
![legend](https://user-images.githubusercontent.com/41024075/44882445-8dcae880-ac70-11e8-9078-050e7a891498.PNG)

[2018-08-31 00:48] lmulhall-phet commented on #145
Seeing this on iOS 11 too.

[2018-08-31 17:02] KatieWoe commented on #74
For phetsims/QA/issues/181
Just saw an alpha particle disappear on Mac OS 10.13.6 Firefox.  It was deflected from the center bottom nucleus toward the top left, back straight towards the center bottom at an angle that would send it straight back towards the top left nucleus, but then disappeared.

[2018-08-31 18:05] KatieWoe commented on #146
May be related to phetsims/rutherford-scattering/issues/103

[2018-08-31 18:17] KatieWoe opened #148 "Resize of nucleus question"
Should the circular line always appear when resizing the nucleus in the nuclear scale scene?  I have found some conditions where it does not.  For instance, if using the number spinner to adjust on a mac 10.13 with a track pad, if you gently tap the lines do not appear, but they do appear if you press down so the track pad "clicks."
For phetsims/QA/issues/181

[2018-09-04 17:19] jessegreenberg commented on #148
Good question @KatieWoe. I can also do this if I click really fast with my mouse in Chrome on Windows 10. IMO this is not a big deal, my understanding is that the circular line was added for performance reasons, because changing the nucleus didn't draw very quickly. @arouinfar can you please comment?

[2018-09-04 17:40] jessegreenberg commented on #147
Hmm, I don't think so because this is how it is in the deployed version, but good question @KatieWoe. @arouinfar what do you think about this?

[2018-09-04 17:45] jessegreenberg commented on #145
This is also an issue in the published version. One way to fix this would be to put legend items into an AlignGroup to ensure that they all have the same heights.

[2018-09-04 17:51] arouinfar commented on #147
@KatieWoe @jessegreenberg I took a look at the latest rc, and the legend is looking fine to me. In the atomic view, the alpha particles themselves aren't visible, just the trace, which is what's in the legend.

[2018-09-04 17:55] jessegreenberg commented on #147
OK, thanks @arouinfar. Ill go ahead and close this issue.

[2018-09-04 17:55] #147 closed

[2018-09-04 18:00] arouinfar commented on #147
Ah, I think see @KatieWoe's point, though. The purple dots represent the alpha particles, and the trace isn't always visible, so it is slightly odd that the trace is in the legend.

My guess is that the design team wanted to avoid having two different legend entries for alpha particles, which could cause confusion.  I took a look at the interview notes, and didn't see anything about the alpha part

[2018-09-04 18:08] jessegreenberg commented on #145
I went ahead with https://github.com/phetsims/rutherford-scattering/issues/145#issuecomment-418457600, and this fixes the issue with stringTest=double. But it doesn't fix the issue for stringTest=long. All of the content in each legend is the same height, but the text is scaled down more in the "Atomic" scale (because of the extra length of the "- - -" icon) so there is still a slight shift in the

[2018-09-04 18:29] jessegreenberg commented on #103
Hey! This is also https://github.com/phetsims/scenery/issues/848

[2018-09-04 18:31] KatieWoe commented on #145
@jessegreenberg Sorry, but stringTest=double looks the same on master.

[2018-09-04 18:32] jessegreenberg commented on #146
In https://github.com/phetsims/rutherford-scattering/issues/103 and also https://github.com/phetsims/scenery/issues/848 we have seen transparent content for CanvasNode when fillStyle isn't defined. Could definitely be related. Ill check if we are using any specific renderers for the panels in this sim.

[2018-09-04 21:36] arouinfar commented on #148
Makes sense @jessegreenberg. In Java, the dashed circle appears when changing the number of particles with the slider, but it doesn't appear when text is directly entered.

![rutherford-changingn-java](https://user-images.githubusercontent.com/8419308/45058822-15409f00-b057-11e8-8acd-51c27e0e59aa.gif)

In HTML5, it seems a bit jumpy when the dashed circle intermittently appears when using the twea

[2018-09-05 17:57] jessegreenberg commented on #148
@arouinfar it is! Can you please review the behavior on master? If it looks OK ill merge into the release branch.

[2018-09-05 18:06] jessegreenberg commented on #145
Sorry, I totally misread the issue and fixed something else...I fixed an issue where the panels shifted with stringTest=double when switching from "Nuclear" to "Atom" scenes in the Rutherford Atom screen. Working on this one next.

[2018-09-05 18:13] arouinfar commented on #148
Looks good to me @jessegreenberg!

@KatieWoe can you also take a look?

[2018-09-05 18:14] KatieWoe commented on #148
Just took a look on Win 10 Chrome.  I think it looks very nice.

[2018-09-05 18:15] arouinfar commented on #148
Great! Reassigning to @jessegreenberg to merge into the release branch.

[2018-09-05 18:43] KatieWoe commented on #145
@jessegreenberg Looks good on master.

[2018-09-05 18:45] jessegreenberg commented on #145
Thanks for testing @KatieWoe, then I will go ahead and merge commits into the release branch.

[2018-09-05 21:28] jessegreenberg commented on #146
Nothing out of the ordinary, just the defaults.

I am not able to reproduce this on any of the platforms I have access to. I also tested on VM with Windows 8.1 and Firefox and I cannot reproduce there either. @jonathanolson would you be able to help investigate this bug? Pinging @ariel-phet just so he is aware of the request.

[2018-09-17 20:19] jessegreenberg commented on #146
@jonathanolson took a look at this today, neither of us were able to reproduce the problem on our machines (my Windows 10 FF and Edge, @jonathanolson Mac FF). @jonathanolson said that he would have to investigate further on the particular device since that is likely the only place that it is reproducible. It could be a platform specific canvas quirk where we look into a workaround. @ariel-phet can

[2018-09-18 14:04] jessegreenberg commented on #146
OK, thanks @ariel-phet. Closing this issue.

[2018-09-18 14:04] #146 closed

[2018-09-24 15:14] jessegreenberg opened #149 "Deploy 1.1.0-rc.2"
AFter https://github.com/phetsims/QA/issues/181, we are ready to deploy rc.2. Two issues were found that received fixes and changes should be merged into the release branch. This issue is just to organize what changes need to be included in the release branch.

Issues:
https://github.com/phetsims/rutherford-scattering/issues/145
https://github.com/phetsims/rutherford-scattering/issues/148

Commits

[2018-09-24 16:01] jessegreenberg commented on #149
Deploy successful, task created in https://github.com/phetsims/QA/issues/194

[2018-09-24 16:01] #149 closed

[2018-09-24 17:04] phet-steele commented on #145
Good in 1.1.0-r.2.

[2018-09-24 17:04] #145 closed

[2018-09-24 17:08] phet-steele commented on #148
Working fine for moi in 1.1.0-rc.2.

[2018-09-24 17:08] #148 closed

[2018-09-24 20:13] JRomero0613 opened #150 "Plum Pudding Particles don't change direction"
For https://github.com/phetsims/QA/issues/194 on the plum pudding screen none of the alpha particles change direction when moving over the electrons within the atom.  This is especially noticeable when the particles have their trace on them. I'm not sure if this is the intended behavior, but it seems like the particles should change direction like they do on the Rutherford atom screen. I have atta

[2018-09-24 20:44] phet-steele commented on #150
@JRomero0613 this is on purpose and a learning goal of the sim. https://en.wikipedia.org/wiki/Geiger%E2%80%93Marsden_experiment

[2018-09-24 20:44] #150 closed

[2018-09-24 21:41] arouinfar commented on #144
Icons & metadata are ready for delivery.

[2018-09-24 21:41] #144 closed

[2018-09-25 15:47] KatieWoe opened #151 "Misaligned string in Plum pudding screen."
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/194
Possibly related to https://github.com/phetsims/rutherford-scattering/issues/145
The strings and images in the Legend toolbox are improperly centered, leading to too much empty space to their left.  Most noticeable when strings are short.
**Steps to r

[2018-09-25 16:01] KatieWoe opened #152 "White line on plum pudding screen"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/194
Present in published version.
When first entering the plum pudding screen there is a white line below the legend toolbox.  Various actions cause it to disappear.  This includes switching to a new browser tab and entering projector mode.
**Steps to rep

[2018-09-25 16:02] KatieWoe commented on #152
Am not seeing on firefox or edge.

[2018-09-25 16:08] jessegreenberg commented on #151
Adding the "pending testing" label to make sure this looks OK in the next RC.

[2018-09-25 16:12] jessegreenberg commented on #152
Very strange! I am not seeing this in Windows 10 Chrome Version 69.0.3497.100 (Official Build) (64-bit), which is the same platform that @KatieWoe is using.

[2018-09-25 16:12] jessegreenberg commented on #152
@KatieWoe if you have access to any other Windows 10 devices, could you please try to reproduce there? Wondering if this is machine specific.

[2018-09-25 16:49] KatieWoe commented on #152
@jessegreenberg I did just check on our other Win 10 on chrome and I didn't see it there.  Very odd.  I'll poke around a bit on my laptop and see if anything fixes it on my end.

[2018-09-25 17:09] jessegreenberg commented on #152
Thanks for looking into it @KatieWoe, please let me know either way. If it turns out to not be producible anywhere else, we may not try to debug this one.

[2018-09-27 18:35] jessegreenberg commented on #152
In the QA issue, @KatieWoe said

@ariel-phet based on this can we mark as wontfix?

[2018-09-28 22:14] ariel-phet commented on #152
Yes, I think fair to mark wontfix.

Closing

[2018-09-28 22:14] #152 closed

[2018-10-12 18:46] KatieWoe commented on #151
Looks good 1.1.0-rc.3

[2018-10-12 18:46] #151 closed

[2019-03-22 02:14] pixelzoom opened #153 "CT: Assertion failed: value should have typeof number, value=204"
This CT error has been occurring intermittently, but regularly.  @jessegreenberg it looks like you've been doing some work that might be related, can you check this out?

[code]

[2019-03-22 15:37] jessegreenberg commented on #153
Yes, sorry, caused by validation of emitter args. Fixed above, closing.

[2019-03-22 15:37] #153 closed

[2019-03-22 15:38] jessegreenberg opened #154 "Remove fragile debugging code"
Some debugging code was added for #74, but it is fragile and wasn't meant to persist for too long. It should be removed. Found during #153.

[2019-03-22 15:46] jessegreenberg commented on #154
There is a ?showErrorCount query param with some code set up to display when a particle is removed due to an error in the model. That should stay.

[2019-03-22 15:47] jessegreenberg commented on #154
Done, and tested with ?showErrorCount query param

[2019-03-22 15:47] #154 closed

[2019-04-15 21:44] KatieWoe opened #155 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56167346-32e2c900-5f95-11e9-8547-f03439c5

[2019-04-15 21:45] #155 closed

[2019-07-18 04:35] pixelzoom opened #156 "unnecessary ColorProfile listeners"
Noticed while working on https://github.com/phetsims/joist/issues/569...

In ScaleInfoNode.js:

[code]

This is listener is unnecessary.  Just set the fills and strokes for these Nodes to `RSColorProfile.panelLabelColorProperty` and scenery will take care of it.

[2019-07-18 18:56] pixelzoom commented on #156
Self-assigning, I'll take care of this as part of phetsims/joist#569.

[2019-07-19 14:33] pixelzoom commented on #156
Another one in RSBaseScreenView:

[code]

alphaSourceText should just be instantiated with `fill: RSColorProfile.panelLabelColorProperty`.

[2019-07-19 14:36] pixelzoom commented on #156
Addressed in the above commit, tested using PhET Menu > Options > Projector Mode.

@jessegreenberg would you mind reviewing?

[2019-07-20 20:56] pixelzoom commented on #156
I found some more suspect code in `PlumPuddingAtomScreenView`:

[code]

[2019-07-20 20:57] pixelzoom commented on #156
And some more in `AtomCollectionNode`:

[code]

[2019-07-20 20:59] pixelzoom commented on #156
And more in `RutherfordAtomScreenView`.  Ugh.

[code]

[2019-07-20 21:26] pixelzoom commented on #156
In https://github.com/phetsims/joist/issues/569, I changed the above-mentioned links from `RSGlobals.projectorModeProperty.link` to `RSColorProfile.profilePropertyName.link`, because a separate BooleanProperty is not longer needed for ProjectorModeCheckbox.

[2019-07-22 20:35] jessegreenberg opened #157 "Review usage of setAccessibleOrder"
When the accessible order is set, the array of nodes gets filtered out like
[code]

It seems like all of these are always present, why is the filter necessary? And this is currently called whenever the color profile and scene changes. All scenes have all of the above items in the array, so it is is not clear to me why this needs to be called more than once.

[2019-07-22 20:47] pixelzoom commented on #156
I discussed via Zoom with @jessegreenberg.  The listeners in `PlumPuddingAtomScreenView` and `RutherfordAtomScreenView` seemed to be unnecessary (colors updated automatically via scenery), so I removed them.  Then I compared projector and default modes with the published version (1.1.4) to verify.

We thought that this listener in `AtomCollectionNode` was unnecessary, and could be entirely removed

[2019-07-23 03:24] pixelzoom opened #158 "CT: Cannot set values directly to a DerivedProperty"
This started occurring in CT shortly after commits https://github.com/phetsims/rutherford-scattering/commit/e31310c2388af4bf0e764661669399f15f9db2b7 and https://github.com/phetsims/rutherford-scattering/commit/f4fd29b535cd88e9939943ba8ffaf616407fed51 for #156 (first occurrence 7/22/2019 @ 2:43:25pm) so probably related.   I won't have time to investigate until Thursday 7/25/19 at the earliest.  @j

[2019-07-23 14:04] pixelzoom opened #159 "Unused string: "options.projectorMode""
While investigating #58...   Looks like string "options.projectorMode" wasn't removed back when ProjectorModeCheckbox was integrated.

[code]

[2019-07-23 14:07] pixelzoom commented on #159
String removed in above commit.  @jessegreenberg feel free to take a peek, but I'm going to close.

[2019-07-23 14:07] #159 closed

[2019-07-23 14:18] pixelzoom opened #160 "RSBaseModel uses field defined in its subclasses"
Noted while investigating #158.

`RSBaseModel` uses `userInteractionProperty`, which is not undefined in `RSBaseModel`. It's defined in subclasses RutherfordAtomModel and PlumPuddingModel.  Reaching down in the class hierarchy is a definite no no.

[2019-07-23 14:25] pixelzoom commented on #158
#156 has exposed some a11y problems with Rutherford Scattering, both related to `userInteractionProperty`.

The first concerns _where_ `userInteractionProperty` is defined.   That's reported in https://github.com/phetsims/rutherford-scattering/issues/160.

The second is _how_ `userInteractionProperty` is defined.  In RutherfordAtomModel, it's a `DerivedProperty`, which is what causes this CT asser

[2019-07-23 14:36] pixelzoom opened #161 "RSBaseScreenView controlPanel is immediately disposed"
Noted while investigating #158.

`RSBaseScreenView` creates `this.controlPanel`, line 195:

[code]

`RutherfordAtomScreenView` and `PlumPuddingAtomScreenView` are the only subclasses of `RSBaseScreenView`.   One of the first things they do is dispose of `this.controlPanel ` and create a new one.  E.g. in `PlumPuddingAtomScreenView` constructor:

[code]

[2019-07-23 15:05] pixelzoom commented on #161
This was added to `RutherfordAtomConstructor` for #156

[code]

That's a problem, the control panel created by `RSBaseScreenView` doesn't get removed or disposed.

[2019-07-23 15:07] pixelzoom commented on #161
@jessegreenberg I went ahead a fully addressed this.  I removed `this.controlPanel` from `RSBaseScreenView`, and made the subclasses fully responsible for `controlPanel`.   Please review.

[2019-07-23 15:08] pixelzoom commented on #161
Btw... I compared master to the published version, to verify that the control panels looked the same.  And I tested with `?ea&fuzz`.

[2019-07-23 15:10] pixelzoom commented on #158
It's possible that https://github.com/phetsims/rutherford-scattering/issues/161#issuecomment-514250837 is what exposed this problem, but I'm not sure.

[2019-07-23 15:17] pixelzoom commented on #158
I am now fairly certain that https://github.com/phetsims/rutherford-scattering/issues/161#issuecomment-514250837 is indeed what exposed this problem.

Formerly in `RSBaseScreenView`:

[code]

So the control panel created by `RSBaseScreenView` was no longer being remove and disposed in RutherfordAtomScreenView, and that resulted in a control panel hanging around that was using `{DerivedProperty} mo

[2019-07-24 15:01] KatieWoe opened #162 "CT blur() unsupported for Nodes using DAG"
[code]

[2019-07-24 18:04] jessegreenberg commented on #157
Simplified by @zepumph in https://github.com/phetsims/rutherford-scattering/commit/314fb5ee041d20bc20084edb8071f5110f5f8ce4, thanks!

[2019-07-24 18:04] #157 closed

[2019-07-24 20:39] jessegreenberg commented on #156
AtomCollectionNode draws the actual nuclei and electron shells in the "Atom" scene of the "Rutherford Atom" screen, and it is eventually drawn with canvas using context.drawImage which is why it is using toImage.

The only color that changes with color profile is `RSColorProfile.nucleusColorProperty`, the circles are always grey.

[2019-07-24 20:50] jessegreenberg commented on #156
I just tried to test and rutherford-scattering-colors.html doesn't seem to be changing any colors at all.

[2019-07-25 02:26] jessegreenberg opened #163 "Not all colors in RSColorProfile are used"
It is possible at one time these colors were used to control the sim with rutherford-scattering-colors.html, but they aren't hooked up in the sim now. We could either use these colors and attach listeners in the sim to fix rutherford-scattering-colors.html or remove them.

I would remove them unless someone thinks the color picker tool is worth maintaining. What do you think @pixelzoom?

[2019-07-25 02:28] jessegreenberg commented on #162
There are two instances of the alpha particle energy slider now. I think it is more likely that that is new than something changed in scenery.

[2019-07-25 02:52] jessegreenberg commented on #162
It is caused by this which was recently added.
`this.controlAreaNode.accessibleOrder.push( controlPanel );`

The issue is that we are calling push on accessibleOrder, accessibleOrder is a setter so this change probably isn't working as expected.

[2019-07-25 03:06] jessegreenberg commented on #162
Fixed in the above commit.

[2019-07-25 03:06] #162 closed

[2019-07-25 03:11] jessegreenberg commented on #161
Awesome, looks great thanks. I also compared against published version and the layout looks the same.

[2019-07-25 03:11] #161 closed

[2019-07-25 03:26] jessegreenberg commented on #160
Thanks, a big no-no. Also, this is duplicated in the two subtypes and should be moved to RSBaseModel.
[code]

[2019-07-25 03:38] jessegreenberg commented on #160
`userInteractionProperty` is now a param for RSBaseModel, created and passed in from each subtype. @pixelzoom would you mind reviewing?

[2019-07-25 03:45] jessegreenberg commented on #158
Yep, I agree. Thanks for getting to the bottom of this. https://github.com/phetsims/rutherford-scattering/issues/160 is ready for review so can this be closed?

[2019-07-25 03:46] #158 closed

[2019-07-25 03:49] jessegreenberg commented on #156
This was done in https://github.com/phetsims/rutherford-scattering/commit/8f1dc135252c23f808e86add917eddae21c6afb0. I made an issue for the unused colors in RSColorProfile https://github.com/phetsims/rutherford-scattering/issues/163, so I think this can be closed.  @pixelzoom thanks for removing the listeners that weren't necessary.

[2019-07-25 03:49] #156 closed

[2019-07-25 13:40] pixelzoom commented on #163
I'm fine with removing the colors, if you think that's appropriate.

[2019-07-25 15:04] jessegreenberg commented on #163
OK, unused colors removed.

[2019-07-25 15:04] #163 closed

[2019-07-25 15:56] pixelzoom commented on #160
👍 closing.

[2019-07-25 15:56] #160 closed

[2019-09-17 22:52] KatieWoe opened #164 "Several items missing in iOS 13"
For https://github.com/phetsims/QA/issues/427
The icon for the first screen is missing both on the home screen and within the sim on iOS 13.  It is there in iOS 12.
![Image from iOS (3)](https://user-images.githubusercontent.com/41024075/65085479-7f2e9c80-d96b-11e9-97bc-c8ac7642c98e.png)

[2019-09-17 22:54] KatieWoe commented on #164
Edit: Much larger problem in the sim.  The alpha particles don't show up on the second screen, and the close up on the first screen is completely gone.

[2019-09-17 22:56] KatieWoe commented on #164
Occurs in published.

[2019-09-17 23:29] jessegreenberg commented on #164
OK thanks @KatieWoe. It sounds like most of the protons and neutrons are missing. They are painted in an atypical way in this sim. For instance, see RutherfordNucleusNode.RutherfordNucleusIcon which uses inner class IconCanvasNode.

[2019-09-18 15:14] jessegreenberg commented on #164
The particles use CanvasNode and the rendering context method drawImage. Wondering if it is related to those. @KatieWoe can you please try one of these other use cases of this to see if things show up as expected?

- Molecules in the magnifying glass in acid-base-solutions.
- Minus charges in the wall in balloons and static electricity

[2019-09-18 15:19] KatieWoe commented on #164
Molecules in acid-base-solutions look fine to me.
Charges look fine in BASE

[2019-09-18 15:20] jessegreenberg commented on #164
Thanks for checking. Points to either something more specific to the sim or something else entirely.

[2019-09-19 20:54] jessegreenberg commented on #164
This is caused by https://github.com/phetsims/sun/issues/526. Being investigated there.

[2019-12-01 02:33] pixelzoom opened #165 "CT: ModelViewTransform2.createRectangleInvertedYMapping is not a constructor"
[code]
<br>

This has been a problem in `RSBaseScreenView` since the 2nd commit on 3/8/16.  No idea how this was every working, or why it wasn't flagged as a problem before.   Here's the culprit code.  `createRectangleInvertedYMapping` is a static method, not a constructor, so `new` is just plain wrong.

[code]

[2019-12-02 17:22] samreid commented on #165
Corrected in https://github.com/phetsims/rutherford-scattering/commit/3641c1f22b44e9e4d62f4b200de692b3025e5e77, closing.

[2019-12-02 17:22] #165 closed

[2019-12-02 19:12] jessegreenberg commented on #165
Thanks for fixing!

[2019-12-11 19:28] jessegreenberg opened #166 "Use TimeControlNode for Play/Pause/Step buttons"
From phetsims/scenery-phet#561. A scenery-phet/TimeControlNode was created that combines the PlayPauseButton and StepForwardButton and includes PhET-iO and PDOM instrumentation. It should be used in this sim. Assigning to responsible dev.

[2020-03-22 23:13] zepumph opened #167 "move a11y strings into main strings json"
From phetsims/chipper#795

[2020-03-24 00:38] zepumph commented on #167
@jessegreenberg please spot check

[2020-04-06 15:34] jessegreenberg commented on #167
Looks great, thanks!

[2020-04-06 15:34] #167 closed

[2020-09-03 23:11] jessegreenberg opened #168 "Issue with canvas and zoom feature in this sim"
When fuzzing this sim with the zoom feature the following errors are thrown
[code]

Something related to zooming in on the canvas with particles and other things. I haven't seen this in any other sim while fuzzing so putting in this repo for now and disabling the feature so this doesn't show up on CT.

[2021-02-11 16:31] KatieWoe opened #169 "CT failed to execute drawImage onCanvasRenderingContext2D"
[code]

[2021-03-17 20:42] jessegreenberg commented on #169
There is something about the RutherfordNucleousIcon causing this, this change makes the bug go away

[code]

[2021-03-17 20:51] jessegreenberg commented on #169
The usage of bind to paint the canvas was kind of inefficient, fixed in the above commit. But that didn't resolve the issue.

[2021-03-17 20:57] jessegreenberg commented on #169
I noticed that the bug goes away when "Nuclear Scale" is selected in the RutherfordAtomScreenView.

[2021-03-17 21:28] jessegreenberg commented on #169
The bug happens when the RutherfordNucleusIcon has some non-1 opacity and pan and zoom tries to move it entirely out of view so it has no bounds. The error is in CanvasBlock.walkDown

[code]
`topWrapper` has zero width and height, and browser throws an error. I think this is beyond the sim, moving to scenery.

[2021-03-17 21:43] jessegreenberg commented on #169
I opened https://github.com/phetsims/scenery/issues/1179 to investigate further. THis is on hold until fixed there.

[2021-03-17 21:43] jessegreenberg commented on #168
This is a duplicate of #169

[2021-03-17 21:43] #168 closed

[2021-03-17 21:47] jessegreenberg commented on #164
This was patched as part of https://github.com/phetsims/sun/issues/526 and can now be closed.

[2021-03-17 21:47] #164 closed

[2021-03-18 15:43] jessegreenberg commented on #169
https://github.com/phetsims/scenery/issues/1179 has a fix and this should be gone now, ill wait till next CT iterations to close.

[2021-03-18 16:54] jessegreenberg commented on #169
It is gone, closing
![image](https://user-images.githubusercontent.com/6396244/111665359-0ff86980-87e9-11eb-86a8-d767ff86014a.png)

[2021-05-06 21:08] jessegreenberg opened #170 "branch: iOS13"
It looks like this was a one-off branch possibly for https://github.com/phetsims/rutherford-scattering/issues/164, maybe https://github.com/phetsims/sun/issues/526.

@jonathanolson would you still like to keep this branch or can it be deleted?

[2021-05-19 20:06] jonathanolson commented on #170
Looks safe to delete, deleting.

[2021-05-19 20:06] #170 closed

[2021-09-23 22:23] jessegreenberg commented on #166
The API for StepButton changed and isPlayingProperty was replaced with enabledProperty. When TimeControlNode is used in this sim the setting of enabledProperty can be removed because it is the default behavior for TimeControlNode.

[2021-10-13 23:09] pixelzoom opened #171 "Typo in credits"
Wieman is misspelled in the credits in rutherford-scattering-main.js:

[code]

[2021-10-15 06:03] samreid opened #172 "Misspelled name in credits"
Discovered in https://github.com/phetsims/fourier-making-waves/issues/210, Carl Wieman's name is misspelled in Rutherford Scattering as well.  Assigning to responsible dev and designer.

Here's how it appears incorrectly in the sim:
[code]

[2021-10-15 22:45] arouinfar commented on #172
Good catch @samreid.

@jessegreenberg let's plan on fixing the typo and publishing a MR soon-ish.

[2022-08-21 06:50] amanmdesai opened #173 "Suggestion: Including value of alpha particle energy in the energy slider would be useful"
At present it is possible to adjust the energy slider, but it does not display the value of alpha particle energy.

[2022-10-17 22:33] veillette commented on #171
Tracked in #172. Closing

[2022-10-17 22:33] #171 closed

[2022-11-04 01:42] pixelzoom opened #174 "CT: Cannot add a listener to a disposed TinyEmitter"
[code]

[2022-11-09 00:17] jessegreenberg commented on #174
This was related to https://github.com/phetsims/sun/issues/746, since RectangularRadioButtonGroup disposes the nodes it creates from `createNode`, a single instance of a Node cannot be reused for the `createNode` function when disposing/re-instantiating a RectangularRadioButtonGroup.

[2022-11-09 00:17] #174 closed

[2022-11-25 13:34] #173 closed